<!-- <div class="desktop-dashboard-booking-company">
    <div>
        <app-desktop-booking-company-info></app-desktop-booking-company-info>
    </div>

    <div class="company-services p-3 mt-4">
        <app-desktop-booking-company-services></app-desktop-booking-company-services>
    </div>
</div> -->

<div class="desktop-dashboard-booking-add-edit-service">
	<div class="edit-screen p-3 mt-4">
		<div fxLayout="row" class="heading pb-3 border-bottom">
			<h6 *ngIf="formType == 'new'">New Service</h6>
			<h6 *ngIf="formType == 'edit'">Edit Service</h6>
		</div>

		<form [formGroup]="addEditServiceBookingForm">
			<div class="row info-inputs pt-4">
				<div class="col-lg-4 xs-mb-20">

					<div class="left-side pr-4">
						<div fxLayout="row" class="input-field">
							<mat-form-field class="form-section w-100">
								<mat-label>Service Name</mat-label>
								<input matInput type="text" formControlName="serviceName">
								<mat-error *ngIf="addEditServiceBookingForm.get('serviceName').hasError('required')">
									Service Name is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div fxLayout="row" class="input-field">
							<mat-form-field class="form-section w-100">
								<mat-label>Service in Category</mat-label>
								<mat-select formControlName="serviceCategory">
									<mat-option [value]="item.id" *ngFor="let item of serviceCategories">{{item.name}}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="addEditServiceBookingForm.get('serviceCategory').hasError('required')">
									Service in Category is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div fxLayout="row" class="dropdown-field">
							<div fxFlex="46%" class="mr-4">
								<mat-form-field class="form-section w-100">
									<mat-label>Duration Hours</mat-label>
									<mat-select formControlName="duration_hours">
										<mat-option value="10">10 Hours</mat-option>
										<mat-option value="3">3 Hours</mat-option>
									</mat-select>
									<mat-error
										*ngIf="addEditServiceBookingForm.get('duration_hours').hasError('required')">
										Duration Hours is <strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div fxFlex="47%">
								<mat-form-field class="form-section w-100">
									<mat-label>Duration Mins</mat-label>
									<mat-select formControlName="duration_mins">
										<mat-option value="20">10 Mins</mat-option>
										<mat-option value="10:00">5 Mins</mat-option>
									</mat-select>
									<mat-error
										*ngIf="addEditServiceBookingForm.get('duration_mins').hasError('required')">
										Duration Mins is <strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>

						<div fxLayout="row" class="input-field">
							<mat-form-field class="form-section w-100">
								<mat-label>Price</mat-label>
								<input matInput type="text" formControlName="price">
								<mat-error *ngIf="addEditServiceBookingForm.get('price').hasError('required')">
									Price is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div class="members">
							<div fxLayout="row" class="py-3 border-bottom">
								<div fxFlex="30%" class="heading left-sec">
									<h2>Members</h2>
								</div>

								<div fxFlex="70%" class="right-sec text-right">
									<div class="row">
										<div fxFlex="85%">
											<span>Select All</span>
										</div>

										<div fxFlex="15%">
											<mat-checkbox (change)="selectAllMembers()"></mat-checkbox>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="members">
								<div *ngIf="members.length > 0">
									<div fxLayout="row" class="pt-4 border-bottom pb-2" *ngFor="let member of members">
										<div fxFlex="70%" class="left-img-sec">
											<div class="row">
												<div fxFlex="20%">
													<img [src]="member.photo" />
												</div>

												<div fxFlex="80%">
													<h6 class="text pl-2">{{member.member_name}}
														{{member.member_surname}}</h6>
												</div>
											</div>
										</div>

										<div fxFlex="30%" class="text-right">
											<mat-checkbox [checked]="selectAll" (change)="selectMember(member.id)">
											</mat-checkbox>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="members">
								<div *ngIf="members.length == 0">
									<h4>Members Not Found</h4>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-8">

					<div class="right-side border-left pl-4">
						<div fxLayout="row" class="text-area">
							<mat-form-field class="w-100">
								<mat-label>Service Description</mat-label>
								<textarea matInput type="text" formControlName="serviceDescription"></textarea>
								<mat-error
									*ngIf="addEditServiceBookingForm.get('serviceDescription').hasError('required')">
									Service Description is <strong>required</strong>
								</mat-error>
							</mat-form-field>
							<span class="words">100/150</span>
						</div>

						<div fxLayout="row" class="text-area mt-3">
							<mat-form-field class="w-100">
								<mat-label>Note for Client</mat-label>
								<textarea matInput type="text" formControlName="noteForClient"></textarea>
								<mat-error *ngIf="addEditServiceBookingForm.get('noteForClient').hasError('required')">
									Note for Client is <strong>required</strong>
								</mat-error>
							</mat-form-field>
							<span class="words">20/45</span>
						</div>

						<div fxLayout="row" class="advanced-section pb-3 border-bottom mt-2">
							<div fxFlex="40%">
								<div class="heading">
									<h6>Advanced Option</h6>
								</div>

								<div class="toggle float-right">
									<mat-slide-toggle></mat-slide-toggle>
								</div>
							</div>

							<div fxFlex="60%"></div>
						</div>

						<div class="dropdown-fields mb-3">
							<div class="row mt-4">
								<div class=" col-lg-7">
									<div class="input-heading pb-2">
										<p>Padding Time</p>
									</div>

									<div>
										<div class=" mr-4">
											<mat-form-field class="form-section w-100">
												<mat-label>Type</mat-label>
												<mat-select formControlName="paddingTimeType">
													<mat-option value="after">After</mat-option>
													<mat-option value="before">Before</mat-option>
													<mat-option value="before">Other</mat-option>
												</mat-select>
												<mat-error
													*ngIf="addEditServiceBookingForm.get('paddingTimeType').hasError('required')">
													Duration is <strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class=" mr-4">
											<mat-form-field class="form-section w-100">
												<mat-label>Hours</mat-label>
												<mat-select formControlName="duration_advanced">
													<mat-option value="0">0 Hours</mat-option>
													<mat-option value="10">10 Hours</mat-option>
													<mat-option value="5">5 Hours</mat-option>
												</mat-select>
												<mat-error
													*ngIf="addEditServiceBookingForm.get('duration_advanced').hasError('required')">
													Duration is <strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class=" mr-4">
											<mat-form-field class="form-section w-100">
												<mat-label>Mins</mat-label>
												<mat-select formControlName="mins_advanced">
													<mat-option value="20">20 Mins</mat-option>
													<mat-option value="5">5 Mins</mat-option>
													<mat-option value="45">45 Mins</mat-option>
												</mat-select>
												<mat-error
													*ngIf="addEditServiceBookingForm.get('mins_advanced').hasError('required')">
													Mins is <strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								</div>

								<div class=" col-lg-5">
									<divclass="pt-4">
										<mat-form-field class="form-section w-100">
											<mat-label>Parallel Clients</mat-label>
											<mat-select formControlName="parallelClient">
												<mat-option value="yes">Yes</mat-option>
												<mat-option value="no">No</mat-option>
												<mat-option value="both">Both</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('parallelClient').hasError('required')">
												Parallel Clients is <strong>required</strong>
											</mat-error>
										</mat-form-field>
								</div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-lg-6">
								<div class="input-heading pb-2">
									<p>Processing Time During the Service</p>
								</div>

								<div class="row">
									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Hours</mat-label>
											<mat-select formControlName="processingDuringHours">
												<mat-option value="0">0 Hours</mat-option>
												<mat-option value="10">10 Hours</mat-option>
												<mat-option value="5">5 Hours</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('processingDuringHours').hasError('required')">
												Hours is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Mins</mat-label>
											<mat-select formControlName="processingDuringMins">
												<mat-option value="20">20 Mins</mat-option>
												<mat-option value="5">5 Mins</mat-option>
												<mat-option value="45">45 Mins</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('processingDuringMins').hasError('required')">
												Mins is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="input-heading pb-2">
									<p>Processing Time After the Service</p>
								</div>

								<div class="row">
									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Hours</mat-label>
											<mat-select formControlName="processingAfterHours">
												<mat-option value="0">0 Hours</mat-option>
												<mat-option value="10">10 Hours</mat-option>
												<mat-option value="5">5 Hours</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('processingAfterHours').hasError('required')">
												Hours is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>

									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Mins</mat-label>
											<mat-select formControlName="processingAfterMins">
												<mat-option value="20">20 Mins</mat-option>
												<mat-option value="5">5 Mins</mat-option>
												<mat-option value="45">45 Mins</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('processingAfterMins').hasError('required')">
												Mins is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-lg-6">
								<div class="input-heading pb-2">
									<p>Interval</p>
								</div>

								<div class="row">
									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Hours</mat-label>
											<mat-select formControlName="intervalHours">
												<mat-option value="0">0 Hours</mat-option>
												<mat-option value="10">10 Hours</mat-option>
												<mat-option value="5">5 Hours</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('intervalHours').hasError('required')">
												Hours is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="mr-4 ">
										<mat-form-field class="form-section w-100">
											<mat-label>Mins</mat-label>
											<mat-select formControlName="intervalMins">
												<mat-option value="20">20 Mins</mat-option>
												<mat-option value="5">5 Mins</mat-option>
												<mat-option value="45">45 Mins</mat-option>
											</mat-select>
											<mat-error
												*ngIf="addEditServiceBookingForm.get('intervalMins').hasError('required')">
												Mins is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div fxLayout="row" class="pt-4">
									<mat-form-field class="form-section w-100">
										<mat-label>Tax Rate</mat-label>
										<mat-select formControlName="tax">
											<mat-option value="5">5.00%</mat-option>
											<mat-option value="10">10.00%</mat-option>
											<mat-option value="0">0%</mat-option>
										</mat-select>
										<mat-error *ngIf="addEditServiceBookingForm.get('tax').hasError('required')">
											Tax is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>

					<div fxLayout="row" class="bottom-btns pt-4 border-top">
						<div fxFlex="40%">
							<a mat-button class="delete-btn px-5" *ngIf="formType == 'edit'">
								<span class="icon-baseline-close-24px-1 pr-2"></span>
								Delete
							</a>
						</div>

						<div fxFlex="60%" class="text-right">
							<a mat-button class="white-b rounded-bt px-5 mr-3">Cancel</a>
							<a (click)="postAddService()" mat-button class="pink-b rounded-bt px-5"
								*ngIf="formType == 'new'">Save Changes</a>
							<a mat-button class="pink-b rounded-bt px-5" *ngIf="formType == 'edit'">Update
								Changes</a>
						</div>
					</div>
				</div>
			</div>

	</div>
	</form>
</div>
</div>