<mat-card class="help-center p-5">
    <div fxLayout="row" class="text pb-4">
        <p class="w-100">Help Center > <span class="pink-text">Lorem Ipsm</span></p>
    </div>

    <div fxLayout="row" class="pb-4">
        <h5 class="w-100">Lorem Ipsm</h5>
    </div>

    <div fxLayout="row" class="pb-4">
        <div class="search w-100 position-relative">
            <img src="../../../../assets/img/SVG hp-m/search.svg">
            <input type="text" placeholder="Search for a topic or question">
        </div>
    </div>


    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="pl-4">
              Yes but if you Pixel perfect screen
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor reprehenderit voluptate.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="pl-4">
                Yes but if you Pixel perfect screen
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor reprehenderit voluptate.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="pl-4">
                Yes but if you Pixel perfect screen
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor reprehenderit voluptate.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="pl-4">
                  Yes but if you Pixel perfect screen
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor reprehenderit voluptate.</p>
            </mat-expansion-panel>
      </mat-accordion>
</mat-card>