<!-- <mat-tab-group selectedIndex="0" animationDuration="0ms">
    <mat-tab label="Widgets">
        <div class="open-items-tab">
            Widget works
        </div>
    </mat-tab>

    <mat-tab label="Public Profile">
        <ng-container *ngIf="appSize.getIsMobileResolution() else desktop">
            <app-mobile-dashboard-public-profile></app-mobile-dashboard-public-profile>
        </ng-container>
        <ng-template #desktop>
            <app-desktop-dashboard-public-profile-outlet></app-desktop-dashboard-public-profile-outlet>
        </ng-template>
    </mat-tab>
</mat-tab-group> -->