<main>
    <section class="container-lg payment-sec">
      <div class="cell example example2" id="example-2">
        <form class="col-xl-8">
          <div fxLayout="row">
            <div class="field">
              <div id="example2-card-number" class="input empty"></div>
              <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
              <div class="baseline"></div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50%" class="field half-width">
              <div id="example2-card-expiry" class="input empty"></div>
              <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
              <div class="baseline"></div>
            </div>
            <div fxFlex="50%" class="field half-width">
              <div id="example2-card-cvc" class="input empty"></div>
              <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
              <div class="baseline"></div>
            </div>
          </div>
          <button type="submit" class="submit" data-tid="elements_examples.form.pay_button">Pay</button>
          <div class="privacy-message">
            Security is one of the biggest considerations in everything we do. We don't save or share your card details
            with anyone
          </div>
          <div class="error" role="alert">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                viewBox="0 0 17 17">
                <path class="base" fill="#000"
                  d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z">
                </path>
                <path class="glyph" fill="#FFF"
                  d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z">
                </path>
              </svg>
              <span class="message"></span></div>
              <div class="m-widget7 m-widget7--skin-dark">
                  <div class="m-widget7__desc mt-0">
                    <h4 class="text-center">Transaction Failed</h4>
                    <div class="login-btn-wrapper">
                      <input class="go-to-login" type="button" value="Try Again" [routerLink]="'/auth/signup/payment?planId=' + subscriptionId">
                    </div>
                  </div>
                </div>
            </div>
        </form>
        <div class="card-bottom stripe-info">powered by <a href="https://stripe.com" target="_blank"
            style="color: #1a4b5c;">
            <svg width="62" height="25">
              <title>Stripe</title>
              <path
                d="M5 10.1c0-.6.6-.9 1.4-.9 1.2 0 2.8.4 4 1.1V6.5c-1.3-.5-2.7-.8-4-.8C3.2 5.7 1 7.4 1 10.3c0 4.4 6 3.6 6 5.6 0 .7-.6 1-1.5 1-1.3 0-3-.6-4.3-1.3v3.8c1.5.6 2.9.9 4.3.9 3.3 0 5.5-1.6 5.5-4.5.1-4.8-6-3.9-6-5.7zM29.9 20h4V6h-4v14zM16.3 2.7l-3.9.8v12.6c0 2.4 1.8 4.1 4.1 4.1 1.3 0 2.3-.2 2.8-.5v-3.2c-.5.2-3 .9-3-1.4V9.4h3V6h-3V2.7zm8.4 4.5L24.6 6H21v14h4v-9.5c1-1.2 2.7-1 3.2-.8V6c-.5-.2-2.5-.5-3.5 1.2zm5.2-2.3l4-.8V.8l-4 .8v3.3zM61.1 13c0-4.1-2-7.3-5.8-7.3s-6.1 3.2-6.1 7.3c0 4.8 2.7 7.2 6.6 7.2 1.9 0 3.3-.4 4.4-1.1V16c-1.1.6-2.3.9-3.9.9s-2.9-.6-3.1-2.5H61c.1-.2.1-1 .1-1.4zm-7.9-1.5c0-1.8 1.1-2.5 2.1-2.5s2 .7 2 2.5h-4.1zM42.7 5.7c-1.6 0-2.5.7-3.1 1.3l-.1-1h-3.6v18.5l4-.7v-4.5c.6.4 1.4 1 2.8 1 2.9 0 5.5-2.3 5.5-7.4-.1-4.6-2.7-7.2-5.5-7.2zm-1 11c-.9 0-1.5-.3-1.9-.8V10c.4-.5 1-.8 1.9-.8 1.5 0 2.5 1.6 2.5 3.7 0 2.2-1 3.8-2.5 3.8z">
              </path>
            </svg>
          </a></div>
        <div class="success">
          <div class="icon">
            <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000"
                fill="none"></circle>
              <path class="checkmark" stroke-linecap="round" stroke-linejoin="round"
                d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000"
                fill="none"></path>
            </svg>
          </div>
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc mt-0">
              <h4 class="text-center">Transaction Successful</h4>
              <p class="text-center">
                We
                will mail you the invoice and details in some time
              </p>
              <p class="reloading">Please wait while we activate your subscription...</p>
              <div class="login-btn-wrapper">
                <input class="go-to-login" type="button" value="Go to Login" routerLink="/auth/login">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
    <input type="text" formControlName="name" placeholder="Jane Doe">
    <div id="card-element" class="field"></div>
    <button type="submit">
      BUY
    </button>
  </form> -->
