<div class="desktop-widgets-my-shops p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>My Shops</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="shops-tabs">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="Bid">
                <div class="bid-bar py-3 border-bottom">
                    <div fxFlex="28%" class="img-side">
                        <img src="../../../../../../../assets/img/Rectangle Copy.png">
                    </div>
                    <div fxFlex="72%" class="content-side">
                        <p class="heading">Running Track Energy FIT 815</p>
                        <div fxLayout="row" class="bid-detail">
                            <div fxFlex="50%">
                                <span class="text pr-2">Start Bid</span>
                                <span class="price">$144</span>
                            </div>
                            <div fxFlex="50%">
                                <span class="text pr-2">You'r Bid</span>
                                <span class="price pink-text">$184</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bid-bar py-3 border-bottom">
                    <div fxFlex="28%" class="img-side">
                        <img src="../../../../../../../assets/img/Rectangle-Copy.png">
                    </div>
                    <div fxFlex="72%" class="content-side">
                        <p class="heading">Soccer ball Joerex Size 5 Yellow</p>
                        <div fxLayout="row" class="bid-detail">
                            <div fxFlex="50%">
                                <span class="text pr-2">Start Bid</span>
                                <span class="price">$30</span>
                            </div>
                            <div fxFlex="50%">
                                <span class="text pr-2">You'r Bid</span>
                                <span class="price pink-text">$223</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Offer">
                Content 2
            </mat-tab>
            
            <mat-tab label="Change">
                Content 3
            </mat-tab>
        </mat-tab-group>
    </div>
    
</div>