<div class="desktop-widgets-communication p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>Communication</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="communication-tabs">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="New Questions">
                Content 1
            </mat-tab>

            <mat-tab label="New Messages (2)">
                <div class="message-tab">
                    <div class="fields-scroll pr-2">
                        <div class="message-field py-3 border-bottom">
                            <div fxLayout="row" class="heading-bar">
                                <div fxFlex="50%" class="left-side">
                                    <div class="heading">
                                        <p class="online"></p>
                                        <p class="text">Jerald Burns</p>
                                    </div>
                                </div>
                                <div fxFlex="50%" class="right-side text-right">
                                    <p class="date-time">January 11, 2019 - 04:11 AM</p>
                                </div>
                            </div>
                            <div class="msg-text pt-2">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                            </div>
                            <div class="reply-btn pt-2">
                                <a>Read</a>
                            </div>
                        </div>
                        <div class="message-field py-3 border-bottom">
                            <div fxLayout="row" class="heading-bar">
                                <div fxFlex="50%" class="left-side">
                                    <div class="heading">
                                        <p class="online"></p>
                                        <p class="text">Carel Denwers</p>
                                    </div>
                                </div>
                                <div fxFlex="50%" class="right-side text-right">
                                    <p class="date-time">January 11, 2019 - 03:22 AM</p>
                                </div>
                            </div>
                            <div class="msg-text pt-2">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                            </div>
                            <div class="reply-btn pt-2">
                                <a>Read</a>
                            </div>
                        </div>
                        <div class="message-field py-3 border-bottom">
                            <div fxLayout="row" class="heading-bar">
                                <div fxFlex="50%" class="left-side">
                                    <div class="heading">
                                        <!-- <p class="online"></p> -->
                                        <p class="text">John Doe</p>
                                    </div>
                                </div>
                                <div fxFlex="50%" class="right-side text-right">
                                    <p class="date-time">January 10, 2019 - 09:32 AM</p>
                                </div>
                            </div>
                            <div class="msg-text pt-2">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                            </div>
                            <div class="reply-btn pt-2">
                                <a>Read</a>
                            </div>
                        </div>
                    </div>

                    <div class="view-btn pt-2">
                        <a mat-button class="pink-text text-center d-block">View all</a>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>