<div class="desktop-make-booking">
    <div fxLayout="row">

        <div fxFlex="70%" class="left-side">
            <div class="container">
                <div class="calendar p-4">
                    <app-calendar-slider (dateSelected)="dateSelected($event)" (timeSelected)="timeSelected($event)" 
                        [shopTimings]="timingDetails" 
                        [selectedValues]="selectedServicePreferredDateAndTime">
                    </app-calendar-slider>
                </div>

                <div class="booking-fields mt-5 p-3 border-top">
                    <div fxLayout="row" class="field-bar p-3" [ngClass]="selectedService === service ? 'border-pink' : 'border-gray'" 
                        *ngFor="let service of services; let i = index" (click)="serviceSelected(i)">
                        <div fxFlex="95%">
                            <div fxLayout="row" class="first-row">
                                <div fxFlex="92%" class="heading">
                                    <h6>{{ service.service_name }}</h6>
                                </div>
                                <div fxFlex="8%" class="price">
                                    <span class="amount">${{ service.total }}</span>
                                </div>
                            </div>
                            <div fxLayout="row" class="first-row" *ngIf="service.members.length > 0">
                                <div fxFlex="92%">
                                    <label style="margin-right: 10px;">Select Staff Member</label>
                                    <select class="form-control" [(ngModel)]="service.member">
                                        <option>Any Available</option>
                                        <option *ngFor="let staffMember of service.members">{{ staffMember.name }}</option>
                                      </select>
                                </div>
                            </div>
                            <div fxLayout="row" class="second-row pt-1">
                                <div fxFlex="85%" class="star">
                                    <app-star-rating [maxScore]="5" [score]="service.rating_data.avg_rating" [forDisplay]="true"></app-star-rating> <span class="star-text pl-3">
                                        {{ service.description }}
                                    </span>
                                </div>
                                <div fxFlex="15%" class="time text-center">
                                    <span class="time">17:00 - 17:30</span>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="5%" class="cross-btn text-center">
                            <span class="icon-baseline-close-24px-1" (click)="removeService(i)"></span>
                        </div>
                    </div>
                    <div class="add-service-btn mt-3">
                        <a mat-button class="pink-text" (click)="addAnotherService()">+  Add another service</a>
                    </div>
                </div>

                <div class="payment-bar mt-5">
                    <div fxLayout="row" class="pb-3">
                        <div class="heading">
                            <h4>Payment</h4>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div fxFlex="30%">
                            <span class="silver-text">Payments accepted by</span>
                        </div>

                        <div fxFlex="70%" class="payment-icons text-right">
                            <span class="icon-Group-1295 icon-xs mr-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
                            <span class="icon-Card-networks-MC-Horizontal mx-2 icon-s"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                            <span class="icon-Visa icon-m mx-3"></span>
                            <span class="icon-PayPal-FullColor-Horizontal icon-m mx-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
                            <span class="icon-Group-1296 icon-s"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div fxFlex="30%" class="right-side">
            <div class="promo-code">
                <h6>Enter Promo-code</h6>
                <p class="py-3">If you have promo-code, put it here</p>
                <div class="form">
                    <mat-form-field class="w-100">
                        <mat-label>Promo-code</mat-label>
                        <input matInput type="text" />
                    </mat-form-field>
                </div>
            </div>

            <div class="amount my-5">
                <h3 class="heading">Total</h3>

                <div fxLayout="row" class="pt-4 pb-3" *ngFor="let service of services">
                    <div fxFlex="50%" class="left">
                        <p class="silver-text">{{ service.service_name }}</p>
                    </div>
                    <div fxFlex="50%" class="right text-right">
                        <p class="black-text">${{ service.total }}</p>
                    </div>
                </div>

                <div fxLayout="row" class="pay-total border-top pt-4">
                    <div fxFlex="50%" class="left">
                        <p class="silver-text">To pay</p>
                    </div>
                    <div fxFlex="50%" class="right text-right">
                        <p class="black-text">${{ calculateTotal() }}</p>
                    </div>
                </div>

                <div fxLayout="row" class="confirm-pay-btn justify-content-center pt-5">
                    <a mat-button class="rounded-bt pink-b w-100" (click)="confirmPay()" >Confirm & Pay</a>
                </div>

                <div fxLayout="row" class="book-visit-btn justify-content-center pt-4">
                    <a mat-button class="rounded-bt white-b w-100">Book by Visit</a>
                </div>

                <div class="accept-policy pt-5">
                    <p>By confirming the order, I accept the terms of the</p>
                    <a href="#">User Agreement</a>
                </div>
            </div>
        </div>

    </div>
</div>
