<div class="desktop-dashboard-new-client">
    <div fxlayout="row" class="main-heading pb-3 border-bottom">
        <h6>New Client</h6>
    </div>

    <form [formGroup]="newClientBookingForm">
        <div class="row client-section border-bottom mt-4 pb-3">
            <div class="col-lg-4">
                <div class="left-img text-center py-4 px-3 ">

                    <div class="left-imgs" *ngIf="preview.length > 0">
                        <ng-container *ngFor="let preview of preview; let i = index">
                            <span (click)="removeImage(i)" class="icon-baseline-close-24px-11 close"></span>
                            <img class="mr-2 mt-3" [src]="preview.data" />
                        </ng-container>
                    </div>

                    <!-- <img src="../../../../../../../../assets/img/w2.png">
                <a class="add-btn">
                    <span class="icon-add-button-inside-black-circle-1"></span>
                </a>
                <p class="pt-4">Drag & Drop</p>
                <p class="pt-2 pb-3">Client Profile Photo</p>
                <div class="upload-btn border-top pt-3">
                    <a mat-button class="pink-b outlined rounded-bt d-block">Upload</a>
                </div> -->

                    <app-file-upload *ngIf="preview.length == 0" (uploadData)="onFileUpload($event)" template="lg">
                    </app-file-upload>

                </div>
            </div>
            <div class="col-lg-4">

                <div class="center-inputs">
                    <div fxLayout="row" class="input-fields">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Client Name</mat-label>
                            <input matInput type="text" formControlName="clientName">
                            <mat-error *ngIf="newClientBookingForm.get('clientName').hasError('required')">
                                Client Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Client Surname</mat-label>
                            <input matInput type="text" formControlName="clientSurname">
                            <mat-error *ngIf="newClientBookingForm.get('clientSurname').hasError('required')">
                                Client Surname is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-fields">
                        <p class="input-heading py-2">Phone Number</p>
                        <div fxLayout="row">
                            <div fxFlex="28%" class="mr-3">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Code</mat-label>
                                    <mat-select formControlName="phoneCode">
                                        <mat-option value="41">+41</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('phoneCode').hasError('required')">
                                        Code is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="65%">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Number</mat-label>
                                    <input matInput type="number" formControlName="phoneNumber">
                                    <mat-error *ngIf="newClientBookingForm.get('phoneNumber').hasError('required')">
                                        Number is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Email Address</mat-label>
                            <input matInput type="text" formControlName="email">
                            <mat-error *ngIf="newClientBookingForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <div fxFlex="65%" class="mr-3">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Street</mat-label>
                                <input matInput type="text" formControlName="streetName">
                                <mat-error *ngIf="newClientBookingForm.get('streetName').hasError('required')">
                                    Street is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30%">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Number</mat-label>
                                <input matInput type="number" formControlName="streetNumber">
                                <mat-error *ngIf="newClientBookingForm.get('streetNumber').hasError('required')">
                                    Number is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <div fxFlex="65%" class="mr-3">
                            <mat-form-field class="form-section w-100">
                                <mat-label>City</mat-label>
                                <input matInput type="text" formControlName="city">
                                <mat-error *ngIf="newClientBookingForm.get('city').hasError('required')">
                                    City is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30%">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Postcode</mat-label>
                                <input matInput type="number" formControlName="postCode">
                                <mat-error *ngIf="newClientBookingForm.get('postCode').hasError('required')">
                                    Postcode is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country">
                                <mat-option value="swizerland">Swizerland</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newClientBookingForm.get('country').hasError('required')">
                                Country is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="right-input-fields">
                    <div fxLayout="row" class="text-area">
                        <mat-form-field class="w-100">
                            <mat-label>Internal note</mat-label>
                            <textarea matInput type="text"></textarea>
                        </mat-form-field>
                        <span class="words">20/50</span>
                    </div>
                    <div fxLayout="row" class="text-area">
                        <mat-form-field class="w-100">
                            <mat-label>Allergens</mat-label>
                            <textarea matInput type="text"></textarea>
                        </mat-form-field>
                        <span class="words">15/85</span>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Birthday</mat-label>
                            <input [max]="today" matInput [matDatepicker]="picker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="newClientBookingForm.get('birthday').hasError('required')">
                                Birthday is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" class="input-fields">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Discount %</mat-label>
                            <input matInput type="number" formControlName="discount">
                            <mat-error *ngIf="newClientBookingForm.get('discount').hasError('required')">
                                Discount % is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div fxLayout="row" class="bottom-btns-bar pt-4">
        <div  class="col-lg-5 left-side">

        </div>

        <div class="col-lg-7 right-side text-right">
            <a routerLink="/dashboard/dashboard-booking/clients" mat-button class="white-b rounded-bt px-5 mr-3"
                (click)="onSelectType('details')">
                Cancel</a>

            <a mat-button class="pink-b rounded-bt px-5" (click)="addNewMember()">Save Changes</a>
        </div>
    </div>
</div>