<div class="desktop-seller-all-items">

    <div class="slider">
    </div>

    <div class="cards">
        <div class="container">
            <div fxLayout="row" class="slider-card">
                <div fxFlex="21%" class="seller-profile mr-2">
                    <div fxLayout="row">
                        <div fxFlex="80%">
                            <h6>whatsupstoners shop</h6>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <span class="icon-add-button-inside-black-circle-1"></span>
                        </div>
                    </div>
                    <div fxLayout="row" class="rating-row pt-1">
                        <span class="icon-Subtraction-7 pr-3 border-right"></span> <p class="profile-rating mx-3">99.9%</p>
                    </div>
                    <div class="detail-row pt-2">
                        <p class="text">1000+ Services sold</p>
                        <p class="text py-2">Member since 2017</p>
                        <span class="icon-location1"></span> <span class="location-text pl-1">24500, London, Ukarine</span>
                    </div>
                </div>
    
                <div fxFlex="13%" class="review-rating text-center mx-2">
                    <h5 class="heading">4,0</h5>
                    <div fxLayout="row" class="rating py-2">
                        <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                    </div>
                    <p class="py-1">Average Review</p>
                    <span>2k+ Ratings</span>
                </div>
    
                <div fxFlex="22%" class="star-rating mx-2">
                    <div fxLayout="row" class="pt-3">
                        <div fxFlex="60%">
                            <p class="text-muted">Service as described</p>
                        </div>
                        <div fxFlex="40%">
                            <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="11px"></app-star-rating>
                        </div>
                    </div>
                    <div fxLayout="row" class="pt-3">
                        <div fxFlex="60%">
                            <p class="text-muted">Communication</p>
                        </div>
                        <div fxFlex="40%">
                            <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="11px"></app-star-rating>
                        </div>
                    </div>
                    <div fxLayout="row" class="pt-3">
                        <div fxFlex="60%">
                            <p class="text-muted">Shipping Time</p>
                        </div>
                        <div fxFlex="40%">
                            <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="11px"></app-star-rating>
                        </div>
                    </div>
                    <div fxLayout="row" class="pt-3">
                        <div fxFlex="60%">
                            <p class="text-muted">Handling Charges</p>
                        </div>
                        <div fxFlex="40%">
                            <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="11px"></app-star-rating>
                        </div>
                    </div>
                </div>
    
                <div fxFlex="44%" class="bar-rating ml-2">
                    <div fxLayout="row">
                        <!-- <app-bar-rating class="w-100" star="5" times="46.9" percentage="24.6" ></app-bar-rating> -->
                    </div>
                    <div fxLayout="row">
                        <!-- <app-bar-rating class="w-100" star="4" times="890" percentage="44.5" ></app-bar-rating> -->
                    </div>
                    <div fxLayout="row">
                        <!-- <app-bar-rating class="w-100" star="3" times="218" percentage="10.9" ></app-bar-rating> -->
                    </div>
                    <div fxLayout="row">
                        <!-- <app-bar-rating class="w-100" star="2" times="290" percentage="14.5" ></app-bar-rating> -->
                    </div>
                    <div fxLayout="row">
                        <!-- <app-bar-rating class="w-100" star="1" times="110" percentage="5.5" ></app-bar-rating> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="items-bookings border-top pt-5">
        <div class="container">
            <div fxLayout="row" class="heading-btns-bar">
                <div fxFlex="18%">
                    <h3 class="items-heading pointer">Items for Sale (12)</h3>
                </div>
                <div fxFlex="52%%">
                    <h3 class="bookings-heading">
                        Bookings (12)
                        <span class="icon-list-pasive mx-3"></span>
                        <span class="icon-baseline-view_module-24px mx-2"></span>
                    </h3>
                </div>
                <div fxFlex="22%" class="location-btn mr-2">
                    <p>
                        <span class="icon-location"></span>
                        <span class="location-text">London,Ukarine</span>
                    </p>
                </div>
                <div fxFlex="8%" class="filter-btn ml-2">
                    <p>
                        <span class="icon-filter"></span>
                        <span class="filter-text">Filter</span>
                    </p>
                </div>
            </div>
            
            <div class="bookings">
                <div fxLayout="row" class="pt-5">
                    <div fxFlex="" class="mr-3">
                        <div class="card border">
                            <div class="card-body p-0">
                                <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                                <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                                <div class="rating border-bottom p-1 justify-content-center">
                                    <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                                </div>
                                <div class="location p-3 text-center">
                                    <h4>Austria, Vienna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="" class="mr-3">
                        <div class="card border">
                            <div class="card-body p-0">
                                <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                                <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                                <div class="rating border-bottom p-1 justify-content-center">
                                    <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                                </div>
                                <div class="location p-3 text-center">
                                    <h4>Austria, Vienna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="" class="mr-3">
                        <div class="card border">
                            <div class="card-body p-0">
                                <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                                <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                                <div class="rating border-bottom p-1 justify-content-center">
                                    <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                                </div>
                                <div class="location p-3 text-center">
                                    <h4>Austria, Vienna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="" class="mr-3">
                        <div class="card border">
                            <div class="card-body p-0">
                                <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                                <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                                <div class="rating border-bottom p-1 justify-content-center">
                                    <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                                </div>
                                <div class="location p-3 text-center">
                                    <h4>Austria, Vienna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="" class="mr-3">
                        <div class="card border">
                            <div class="card-body p-0">
                                <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                                <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                                <div class="rating border-bottom p-1 justify-content-center">
                                    <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                                </div>
                                <div class="location p-3 text-center">
                                    <h4>Austria, Vienna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>