<div class="mobile-dashboard-help-center-main">
    <div class="container">
        <div fxLayout="row" class="head-bar py-4 border-bottom">
            <div fxFlex="60%" class="left-side">
                <h6>Help Center</h6>
            </div>
            <div fxFlex="40%" class="right-side">
                <p class="commercial">
                    <span class="icon-commercial"></span>
                    <span class="text pl-1">Commercial</span>
                </p>
            </div>
        </div>

        <div class="main-center-sections mt-4 p-3">
            <div class="head-main-section text-center">
                <h6>Hello,</h6>
                <h6>how we can help you</h6>
                <p class="pt-3">Search for a question choose topic</p>

                <div class="search-bar pt-4 pb-3 border-bottom">
                    <span class="icon-search-1"></span>
                    <input type="text" placeholder="What are you looking for">
                </div>
            </div>

            <div class="popular-section pt-4">
                <div class="popular-heading">
                    <h5>Popular Topics</h5>
                </div>

                <div fxLayout="row" class="mt-4">
                    <div class="popular-card p-3">
                        <div class="heading">
                            <img src="../../../../../../../assets/img/w2.png">
                            <h6>Lorem Ipsm</h6>
                        </div>
                        <p>Contrary to popular belief, Lorem contary?</p>
                        <p>It has roots in a piece classical</p>
                        <p>This book of the theory ethics</p>
                        <a mat-button class="pink-text mt-2">View All</a>
                    </div>
                </div>
            </div>

            <div class="accordians-section mt-4">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="pl-4">
                          Yes but if perfect screen
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                  
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                      
                      <div class="solved-question-btn mt-3">
                        <a mat-button class="rounded-bt pink-b px-3 outlined">Solved! This Answers my Questions</a>
                      </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="pl-4">
                            Yes but if perfect screen
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                        
                        <div class="solved-question-btn mt-3">
                          <a mat-button class="rounded-bt pink-b px-3 outlined">Solved! This Answers my Questions</a>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="pl-4">
                        Yes but if perfect screen
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                    
                    <div class="solved-question-btn mt-3">
                        <a mat-button class="rounded-bt pink-b px-3 outlined">Solved! This Answers my Questions</a>
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="pl-4">
                        Yes but if perfect screen
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                    
                    <div class="solved-question-btn mt-3">
                        <a mat-button class="rounded-bt pink-b px-3 outlined">Solved! This Answers my Questions</a>
                    </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="pl-4">
                        Yes but if perfect screen
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                    
                    <div class="solved-question-btn mt-3">
                        <a mat-button class="rounded-bt pink-b px-3 outlined">Solved! This Answers my Questions</a>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="help-btn mt-4">
                <a mat-button class="pink-b rounded-bt d-block">Get Help</a>
            </div>
        </div>
    </div>
</div>