<div class="mobile-dashboard">
    <div class="container">
        <div fxLayout="row" class="field-row border-bottom pt-3 pb-4">
            <div fxFlex="55%" class="left-side">
                <h4 class="heading">Marketplace</h4>
            </div>

            <div fxFlex="45%" class="right-side">
                <p>
                    <span class="icon-commercial pr-2"></span>
                    Commercial
                </p>
            </div>
        </div>

        <div class="items p-3 mt-4">
            <div class="heading pb-3 border-bottom">
                <h4>Items</h4>
            </div>

            <div fxLayout="row" class="item-cards pt-4">
                <div fxFlex="" class="mr-2">
                    <div class="card-body border">
                        <div class="image-sec">
                            <div class="top-action">
                                <div fxLayout="row" class="w-100">
                                    <div fxFlex="50%" class="ml-3">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="mr-3">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="time-bids">
                                <div fxLayout="row" class="mx-2">
                                    <div class="rounded-bt border time-content px-3 py-2">
                                        <p class="main pink-text">1h 02m 32s <span class="text-muted">43 bids</span></p>
                                    </div>
                                </div>
                            </div>
                    
                            <img class="main-img" src="../../../assets/img/SVG-hp/man1.png">
                        </div>
                    
                        <h5 class="border-bottom p-2">Leather feltcase for 9,7' tablet</h5>
                    
                        <div fxLayout="row" class="py-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Customer bid</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3>$1098</h3>
                            </div>
                        </div>
                        <div fxLayout="row" class="pb-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Fixed price</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3 class="pink-text">$1123</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div fxFlex="">
                    <div class="card-body border">
                        <div class="image-sec">
                            <div class="top-action">
                                <div fxLayout="row" class="w-100">
                                    <div fxFlex="50%" class="ml-3">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="mr-3">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="time-bids">
                                <div fxLayout="row" class="mx-2">
                                    <div class="rounded-bt border time-content px-3 py-2">
                                        <p class="main pink-text">1h 02m 32s <span class="text-muted">43 bids</span></p>
                                    </div>
                                </div>
                            </div>
                    
                            <img class="main-img" src="../../../assets/img/SVG-hp/man1.png">
                        </div>
                    
                        <h5 class="border-bottom p-2">Leather feltcase for 9,7' tablet</h5>
                    
                        <div fxLayout="row" class="py-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Customer bid</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3>$1098</h3>
                            </div>
                        </div>
                        <div fxLayout="row" class="pb-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Fixed price</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3 class="pink-text">$1123</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row" class="item-cards pt-4">
                <div fxFlex="" class="mr-2">
                    <div class="card-body border">
                        <div class="image-sec">
                            <div class="top-action">
                                <div fxLayout="row" class="w-100">
                                    <div fxFlex="50%" class="ml-3">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="mr-3">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="time-bids">
                                <div fxLayout="row" class="mx-2">
                                    <div class="rounded-bt border time-content px-3 py-2">
                                        <p class="main pink-text">1h 02m 32s <span class="text-muted">43 bids</span></p>
                                    </div>
                                </div>
                            </div>
                    
                            <img class="main-img" src="../../../assets/img/SVG-hp/man1.png">
                        </div>
                    
                        <h5 class="border-bottom p-2">Leather feltcase for 9,7' tablet</h5>
                    
                        <div fxLayout="row" class="py-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Customer bid</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3>$1098</h3>
                            </div>
                        </div>
                        <div fxLayout="row" class="pb-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Fixed price</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3 class="pink-text">$1123</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div fxFlex="">
                    <div class="card-body border">
                        <div class="image-sec">
                            <div class="top-action">
                                <div fxLayout="row" class="w-100">
                                    <div fxFlex="50%" class="ml-3">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="mr-3">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="time-bids">
                                <div fxLayout="row" class="mx-2">
                                    <div class="rounded-bt border time-content px-3 py-2">
                                        <p class="main pink-text">1h 02m 32s <span class="text-muted">43 bids</span></p>
                                    </div>
                                </div>
                            </div>
                    
                            <img class="main-img" src="../../../assets/img/SVG-hp/man1.png">
                        </div>
                    
                        <h5 class="border-bottom p-2">Leather feltcase for 9,7' tablet</h5>
                    
                        <div fxLayout="row" class="py-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Customer bid</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3>$1098</h3>
                            </div>
                        </div>
                        <div fxLayout="row" class="pb-2">
                            <div fxFlex="70%" class="mx-2">
                                <p class="text text-muted pb-1">Fixed price</p>
                            </div>
                            <div fxFlex="30%" class="mx-2">
                                <h3 class="pink-text">$1123</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-accordians px-3 pb-3 mt-4">
            <div fxLayout="row">
                <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
                    <mat-tab label="Sellers">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        whatsupstoners shop
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                               <div class="inner-text-shop-accordians">
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="50%" class="left-side">
                                            <span class="left-text">Membership</span>
                                        </div>
                                        <div fxFlex="50%" class="right-side text-right">
                                            <p class="right-text">
                                                <span class="icon-commercial"></span>
                                                Commercial
                                            </p>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="50%" class="left-side">
                                            <span class="left-text">Item sold</span>
                                        </div>
                                        <div fxFlex="50%" class="right-side text-right">
                                            <p class="right-text">1000+</p>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="30%" class="left-side">
                                            <span class="left-text">Address</span>
                                        </div>
                                        <div fxFlex="70%" class="right-side text-right">
                                            <p class="right-text">25400, Lindon, Ukraine</p>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="50%" class="left-side">
                                            <span class="left-text">Member Since</span>
                                        </div>
                                        <div fxFlex="50%" class="right-side text-right">
                                            <p class="right-text">2007</p>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="40%" class="left-side">
                                            <span class="left-text">Rating</span>
                                        </div>
                                        <div fxFlex="60%" class="right-side text-right">
                                            <p class="right-text">
                                                <span class="pink-text pr-2">(5.0)</span>
                                                <span class="icon-rating-active-3"></span>
                                                <span class="pl-2">2k+ Ratings</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="p-2">
                                        <div fxFlex="50%" class="left-side">
                                            <span class="left-text">Verify Level</span>
                                        </div>
                                        <div fxFlex="50%" class="right-side text-right">
                                            <span class="icon-Subtraction-71"></span>
                                        </div>
                                    </div>
                                    <div fxLayout="row" class="bottom-edit-row text-center border-top p-2">
                                        <div fxFlex="50%" class="left-side pt-2">
                                            <img src="../../../../../../assets/img/writing-public.png">
                                        </div>
                                        <div fxFlex="50%" class="right-side pt-2">
                                            <span class="icon-baseline-remove_circle_outline-24px"></span>
                                        </div>
                                    </div>
                               </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Rickardo Jones
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="row">
                                    <div fxFlex="40%">
                                        <p>Membership</p>
                                    </div>
                                    <div fxFlex="60%" class="text-right">
                                        <p>
                                            <span class="icon-commercial"></span>
                                            Commercial
                                        </p>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Black Box
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="row">
                                    <div fxFlex="40%">
                                        <p>Membership</p>
                                    </div>
                                    <div fxFlex="60%" class="text-right">
                                        <p>
                                            <span class="icon-commercial"></span>
                                            Commercial
                                        </p>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>

                    <mat-tab label="Saved Searches">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Running track EnergyFIT 815
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                               <div class="inner-text-saved-searches-accordians">
                                    <div class="p-2">
                                        <span class="heading">Category</span>
                                        <p class="sub-heading">Electronics</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Subcategory</span>
                                        <p class="sub-heading">Fitness</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Tilt angle adjustment</span>
                                        <p class="sub-heading">Mechanical, Electrical</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Purpose</span>
                                        <p class="sub-heading">Professional</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Manufacturer</span>
                                        <p class="sub-heading">EnergyFit, EnergyPool, Samsung</p>
                                    </div>
                                    <div class="bottom-edit-row text-center border-top p-2">
                                        <div fxFlex="50%" class="left-side pt-2">
                                            <img src="../../../../../../assets/img/writing-public.png">
                                        </div>
                                        <div fxFlex="50%" class="right-side pt-2">
                                            <span class="icon-baseline-remove_circle_outline-24px"></span>
                                        </div>
                                    </div>
                               </div>

                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Leather feltcase for 9,7’ tablet
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                               <div class="inner-text-saved-searches-accordians">
                                    <div class="p-2">
                                        <span class="heading">Category</span>
                                        <p class="sub-heading">Electronics</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Subcategory</span>
                                        <p class="sub-heading">Fitness</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Tilt angle adjustment</span>
                                        <p class="sub-heading">Mechanical, Electrical</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Purpose</span>
                                        <p class="sub-heading">Professional</p>
                                    </div>
                                    <div class="p-2">
                                        <span class="heading">Manufacturer</span>
                                        <p class="sub-heading">EnergyFit, EnergyPool, Samsung</p>
                                    </div>
                                    <div class="bottom-edit-row text-center border-top p-2">
                                        <div fxFlex="50%" class="left-side pt-2">
                                            <img src="../../../../../../assets/img/writing-public.png">
                                        </div>
                                        <div fxFlex="50%" class="right-side pt-2">
                                            <span class="icon-baseline-remove_circle_outline-24px"></span>
                                        </div>
                                    </div>
                               </div>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </div>
</div>