
<div class="mobile-booking">
    <div class="after-header pt-4 border-bottom pb-5">
        <div class="container">
            <div fxLayout="row" class="w-100">
                <h4 class="pink-text">03</h4>
                <p class="pl-4">New Fashion</p>
            </div>
    
            <div fxLayout="row" class="pt-3 w-100">
                <h3>2019 Fashion for Fashion</h3>
            </div>
            
            <div fxLayout="row" class="pt-3 w-100">
                <span class="sub-title">It is a long established fact that a reader will be distracted by the readable content of a page & readable.</span>
            </div>
        </div>
    
        <div fxLayout="row" class="pt-4 w-100">
            <div class="next-previous-btn">
                <img src="../../../assets/img/SVG-hp/shoes1.png">
                <a mat-button class="btn m-0 bg-dark py-2 text-white">Previous</a>
                <a mat-button class="btn m-0 bg-white py-2 pink-text">Next</a>
            </div>
        </div>
    </div>

    <div class="best-booking py-5 border-bottom">
        <div class="container">
            <div fxLayout="row">
                <div fxFlex="60%" class="heading-left">
                    <h2>Best Booking</h2>
                </div>
                <div fxFlex="40%" class="right-list-btns text-right">
                    
                </div>
            </div>

            <div class="booking-cards">
                <div fxLayout="row" class="pt-5 w-100">
                    <div class="card border mr-3">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="near-you py-5">
        <div class="container">
            <div fxLayout="row" class="pb-4">
                <div fxFlex="60%" class="heading-left">
                    <h2>Near You</h2>
                </div>
                <div fxFlex="40%" class="right-list-btns text-right">
                    
                </div>
            </div>

            <div class="near-list-card">
                <div class="list-card p-2">
                    <div fxLayout="row" class="pb-2">
                        <div fxFlex="30%" class="left-img mr-2">
                            <img src="../../../../../../assets/img/w3.png">
                        </div>
                        <div fxFlex="70%" class="right-detail ml-1">
                            <div fxLayout="row" class="heading">
                                <h5>Leather feltcase for 9,7' tablet feltcase a great tablet</h5>
                            </div>
                            <div fxLayout="row" class="star-rating py-2">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div fxLayout="row" class="location">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
        
                    <div fxLayout="row" class="detail-row border-top pt-2">
                        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>

                <div class="list-card mt-4 p-2">
                    <div fxLayout="row" class="pb-2">
                        <div fxFlex="30%" class="left-img mr-2">
                            <img src="../../../../../../assets/img/w3.png">
                        </div>
                        <div fxFlex="70%" class="right-detail ml-1">
                            <div fxLayout="row" class="heading">
                                <h5>Leather feltcase for 9,7' tablet feltcase a great tablet</h5>
                            </div>
                            <div fxLayout="row" class="star-rating py-2">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div fxLayout="row" class="location">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
        
                    <div fxLayout="row" class="detail-row border-top pt-2">
                        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>

                <div class="list-card mt-4 p-2">
                    <div fxLayout="row" class="pb-2">
                        <div fxFlex="30%" class="left-img mr-2">
                            <img src="../../../../../../assets/img/w3.png">
                        </div>
                        <div fxFlex="70%" class="right-detail ml-1">
                            <div fxLayout="row" class="heading">
                                <h5>Leather feltcase for 9,7' tablet feltcase a great tablet</h5>
                            </div>
                            <div fxLayout="row" class="star-rating py-2">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div fxLayout="row" class="location">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
        
                    <div fxLayout="row" class="detail-row border-top pt-2">
                        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

</div>