<div class="dashboard-booking-all-members"*ngIf="this.memberService.allMembersList">
    <div class="search-bar">
        <span class="icon-search-1"></span>
        <input type="text" placeholder="Search Member">
    </div>

    <div class="members">
        <div class="members-scroll pr-3">
            <div class="member-row py-3 border-bottom row" (click)="onSelectType('details'); setGetMember(item)" *ngFor="let item of this.memberService.allMembersList.data">
                <div class="img-side col-3">
                    <img src="{{item.photo}}">
                </div>

                <div  class="name-side col-9">
                    <h6>{{item.member_name}}</h6>
                    <p>{{item.phone_isd}} {{item.phone_number}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="new-member-btn pt-2">
        <a mat-button class="pink-text d-block text-center" (click)="onSelectType('new')">
            <span class="icon-add-button-inside-black-circle-1 pr-2"></span>
            New Member
        </a>
    </div>
</div>