<div class="dashboard-booking-all-reviews">
    <div class="review-scroll px-3 mt-4">
        <div class="review-field pb-4 border-bottom" *ngFor="let item of reviews">
            <div fxLayout="row" class="heading">
                <h6>{{item.title}}</h6>
            </div>

            <div fxLayout="row" class="date-time pt-2">
                <span class="pr-1">{{item.user_fullname}}</span> <span class="pr-3">{{item.pub_date | date}}</span> 
                <app-star-rating [maxScore]="item.rating" [score]="item.rating" [forDisplay]="true"></app-star-rating>
            </div>

            <div fxLayout="row" class="detail pt-2">
                <p>{{item.feedback}}</p>
            </div>

            <div fxLayout="row" class="img-review pt-3">
                <div *ngFor="let image of item.image">
                    <img src="{{image}}">
                </div>
            </div>

            <div fxLayout="row" class="reply-comment-btn border-bottom py-3">
                <a mat-button class="comment px-4 mr-2" *ngIf="item.comment_count > 0">{{item.comment_count}} Comment</a>
                <a mat-button class="reply pink-text px-4">Reply</a>
            </div>

            <div class="responses mt-3 px-4" *ngIf="item.comment_count > 0">
                <div class="msg p-3">
                    <p class="heading">
                        John Doe
                        <span>January 11, 2019</span>
                    </p>
                    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                </div>

                <!-- <div class="msg p-3 mt-3">
                    <p class="heading">
                        John Doe
                        <span>January 11, 2019</span>
                    </p>
                    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                </div> -->
            </div>
        </div>

       
    </div>
</div>