<div class="desktop-dashboard-profile-invoices p-3 mt-4">
    <div fxLayout="row" class="invoice-heading pb-3">
        <h6>Invoice</h6>
    </div>

    <div fxLayout="row" class="date-deatil py-3 border-bottom">
        <p>
            <span class="silver pr-2">Date:</span> <span class="black">April 3, 2019</span>
        </p>
        <p>
            <span class="silver pr-2">Due Date:</span> <span class="black">April 10, 2014</span>
        </p>
        <p>
            <span class="silver pr-2">Invoive #</span> <span class="black">896547109</span>
        </p>
    </div>

    <div fxLayout="row" class="bill py-4 border-bottom">
        <div fxFlex="50%" class="from mr-5">
            <p class="heading">Bill From</p>
            <p class="shop pt-2 pb-3">Whatsupstoners Shop</p>
            <div class="contact pt-2">
                <ul>
                    <li>
                        <p class="silver">Address</p>
                        <p class="black">665 Clinton Lake, Wilkness, 345668</p>
                    </li>
                    <li>
                        <p class="silver">Phone</p>
                        <p class="black">+9821 045 9830</p>
                    </li>
                    <li>
                        <p class="silver">Email</p>
                        <p class="black">sample39@email.com</p>
                    </li>
                </ul>
            </div>
        </div>

        <div fxFlex="50%" class="to">
            <p class="heading">Bill To</p>
            <p class="shop pt-2 pb-3">Richardo Shop</p>
            <div class="contact pt-2">
                <ul>
                    <li>
                        <p class="silver">Address</p>
                        <p class="black">665 Clinton Lake, Wilkness, 345668</p>
                    </li>
                    <li>
                        <p class="silver">Phone</p>
                        <p class="black">+9821 045 9830</p>
                    </li>
                    <li>
                        <p class="silver">Email</p>
                        <p class="black">sample39@email.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="product-invoice pb-2 border-bottom">
        <div class="product">
            <div fxFlex="8%" class="product-img">
                <img src="../../../../../../../assets/img/Rectangle2.png">
            </div>
            <div fxFlex="72%" class="product-heading">
                <h6>Cordless ScrewDriver Zenit USA-9803 A Li-5K</h6>
                <div class="date-id pt-1">
                    <span class="pr-3">03 January 2019</span>
                    <span>#96325870</span>
                </div>
            </div>
            <div fxFlex="20%">
                <div fxLayout="row" class="price">
                    <div fxFlex="50%" class="left">
                        <span class="silver">Price</span>
                    </div>
                    <div fxFlex="50%" class="right text-right">
                        <span class="black">$3345</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div fxFlex="8%" class="product-img">
                <img src="../../../../../../../assets/img/Rectangle2.png">
            </div>
            <div fxFlex="72%" class="product-heading">
                <h6>Cordless ScrewDriver Zenit USA-9803 A Li-5K</h6>
                <div class="date-id pt-1">
                    <span class="pr-3">03 January 2019</span>
                    <span>#96325870</span>
                </div>
            </div>
            <div fxFlex="20%">
                <div fxLayout="row" class="price">
                    <div fxFlex="50%" class="left">
                        <span class="silver">Price</span>
                    </div>
                    <div fxFlex="50%" class="right text-right">
                        <span class="black">$3345</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div fxFlex="8%" class="product-img">
                <img src="../../../../../../../assets/img/Rectangle2.png">
            </div>
            <div fxFlex="72%" class="product-heading">
                <h6>Cordless ScrewDriver Zenit USA-9803 A Li-5K</h6>
                <div class="date-id pt-1">
                    <span class="pr-3">03 January 2019</span>
                    <span>#96325870</span>
                </div>
            </div>
            <div fxFlex="20%">
                <div fxLayout="row" class="price">
                    <div fxFlex="50%" class="left">
                        <span class="silver">Price</span>
                    </div>
                    <div fxFlex="50%" class="right text-right">
                        <span class="black">$3345</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="subtotal-discount py-4 border-bottom">
        <div fxFlex="78%" class="left"></div>

        <div fxFlex="22%" class="right float-right">
            <div fxLayout="row" class="sub-total">
                <div fxFlex="60%" class="left-side">
                    <span class="subtotal-text">Sub Total</span>
                </div>
                <div fxFlex="40%" class="right-side text-right">
                    <span class="price">$9063</span>
                </div>
            </div>

            <div fxLayout="row" class="discount pt-3">
                <div fxFlex="60%" class="left-side">
                    <span>
                        Discount
                        <span class="icon-add-button-inside-black-circle-1 pl-2"></span>
                    </span>
                </div>
                <div fxFlex="40%" class="right-side text-right">
                    <span class="price">-$9063 (10%)</span>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="payment-total py-4">
        <div fxFlex="78%" class="payment-method">
            <h1>Payment Method</h1>
        </div>

        <div fxFlex="22%" class="total-amount float-right">
            <div fxLayout="row" class="sub-total">
                <div fxFlex="60%" class="left-side">
                    <span class="subtotal-text">Sub Total</span>
                </div>
                <div fxFlex="40%" class="right-side text-right">
                    <span class="price">$9063</span>
                </div>
            </div>

            <div fxLayout="row" class="confirm&pay-btn pt-5 justify-content-center">
                <a mat-button class="rounded-bt pink-b px-5">Confirm & Pay</a>
            </div>
        </div>
    </div>
</div>