<div class="desktop-dashboard-profile-coupons">
    <div class="coupons-tabs px-3 pb-3 mt-4">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="Bought Coupons">

                <div fxLayout="row" class="bought-coupon-cards pt-4">
                    <div fxFlex="20%" class="mr-3">
                        <div class="card-body border">
                            <div class="top-action">
                                <div fxLayout="row">
                                    <div fxFlex="40%" class="pl-2">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="float-right">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="main-img" >
                                <img src="../../../../../../../assets/img/notebook2.png">
                            </div>
        
                            <div class="product-heading border-bottom text-center p-3">
                                <h5>Soccer ball Joerex Size 5 Yellow</h5>
                            </div>
        
                            <div fxLayout="row" class="p-2 bid-row">
                                <div fxFlex="50%">
                                    <p class="text">Customer bid</p>
                                </div>
                                <div fxFlex="50%" class="text-right">
                                    <h3>$1098</h3>
                                </div>
                            </div>
        
                            <div fxLayout="row" class="p-2 fixed-row">
                                <div fxFlex="37%">
                                    <p class="fix">Fixed Price</p>
                                </div>
                                <div fxFlex="26%" class="text-right">
                                    <del class="cutted">$367</del>
                                </div>
                                <div fxFlex="37%" class="text-right">
                                    <span class="price">$367</span>
                                </div>
                            </div>
                            
                            <div class="discount p-3 text-center">
                                <p class="off">10% Off</p>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="20%" class="mr-3">
                        <div class="card-body border">
                            <div class="top-action">
                                <div fxLayout="row">
                                    <div fxFlex="40%" class="pl-2">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="float-right">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="main-img" >
                                <img src="../../../../../../../assets/img/159.png">
                            </div>
        
                            <div class="product-heading border-bottom text-center p-3">
                                <h5>Soccer ball Joerex Size 5 Yellow</h5>
                            </div>
        
                            <div fxLayout="row" class="p-2 bid-row">
                                <div fxFlex="50%">
                                    <p class="text">Customer bid</p>
                                </div>
                                <div fxFlex="50%" class="text-right">
                                    <h3>$1098</h3>
                                </div>
                            </div>
        
                            <div fxLayout="row" class="p-2 fixed-row">
                                <div fxFlex="37%">
                                    <p class="fix">Fixed Price</p>
                                </div>
                                <div fxFlex="26%" class="text-right">
                                    <del class="cutted">$367</del>
                                </div>
                                <div fxFlex="37%" class="text-right">
                                    <span class="price">$367</span>
                                </div>
                            </div>
                            
                            <div class="discount p-3 text-center">
                                <p class="off">10% Off</p>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="20%" class="mr-3">
                        <div class="card-body border">
                            <div class="top-action">
                                <div fxLayout="row">
                                    <div fxFlex="40%" class="pl-2">
                                        <div class="img-icons rounded-bt border">
                                            <div class="image"><img src="../../../assets/img/SVG-hp/change-active.svg"></div>
                                            <div class="image"><img src="../../../assets/img/SVG-hp/bidding-active.svg"></div>
                                        </div>
                                    </div>
                                    <div fxFlex="50%" class="float-right">
                                        <div class="img-user border">
                                            <img src="../../../assets/img/SVG-hp/private-active.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="main-img" >
                                <img src="../../../../../../../assets/img/yellowphone.png">
                            </div>
        
                            <div class="product-heading border-bottom text-center p-3">
                                <h5>Soccer ball Joerex Size 5 Yellow</h5>
                            </div>
        
                            <div fxLayout="row" class="p-2 bid-row">
                                <div fxFlex="50%">
                                    <p class="text">Customer bid</p>
                                </div>
                                <div fxFlex="50%" class="text-right">
                                    <h3>$1098</h3>
                                </div>
                            </div>
        
                            <div fxLayout="row" class="p-2 fixed-row">
                                <div fxFlex="37%">
                                    <p class="fix">Fixed Price</p>
                                </div>
                                <div fxFlex="26%" class="text-right">
                                    <del class="cutted">$367</del>
                                </div>
                                <div fxFlex="37%" class="text-right">
                                    <span class="price">$367</span>
                                </div>
                            </div>
                            
                            <div class="discount p-3 text-center">
                                <p class="off">10% Off</p>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="20%" class="coupon-card-main mr-3">
                        <div class="create-coupon-card border-d">
                            <a href="#">
                                <img src="../../../../../../../assets/img/createacupon.png">
                                <p class="img-text">Create an Coupon</p>
                            </a>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Created Coupons">
                <app-desktop-profile-coupons-new></app-desktop-profile-coupons-new>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>