

<mat-card class="contact-us p-5">

    <div fxFlex="55%" class="mx-3">
        
        <div fxLayout="row">
            <div class="border-bottom heading pb-4">
                <h5 class="pb-3">Contact Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod n ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="form">
            <div fxLayout="row" class="pt-4">
                <div fxFlex="50%" class="mx-2">
                    <mat-form-field class="form-section w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div fxFlex="50%" class="mx-2">
                    <mat-form-field class="form-section w-100">
                        <mat-label>Email</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" class="pt-3">
                <mat-form-field class="w-100">
                    <mat-label>Message</mat-label>
                    <textarea matInput type="text"></textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="pt-4 justify-content-center">
                <div fxFlex="50%">
                    <a mat-button class="pink-b py-1 rounded-bt w-100">Send</a>
                </div>
            </div>

        </div>
    </div>

    <div fxFlex="45%" class="mx-3">

        <div fxLayout="row">
            <div class="map pb-3 w-100">
                <img src="../../../../assets/img/SVG-hp/map.png">
            </div>
        </div>

        <div class="form">
            <div fxLayout="row">
                <mat-form-field class="form-section w-100">
                    <mat-label>Address</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field class="form-section w-100">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field class="form-section w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </div>

    </div>

</mat-card>