@import '../../../../../../../styles.scss';

.mobile-dashboard-help-center-help {
    background: $ligher-gray;

    .head-bar {
        .left-side {
            h6 {
                color: $black;
                font-size: 24px;
            }
        }

        .right-side {
            p {
                &.commercial {
                    border: 1px solid $pink;
                    border-radius: 50px;
                    padding: 3px 5px;
                    position: relative;
                    margin-top: 6px;
                    span {
                        &.icon-commercial {
                            font-size: 22px;
                        }
                        &.text {
                            color: $pink;
                            font-size: 15px;
                            position: relative;
                            top: -4px;
                        }
                    }
                }
            }
        }
    }

    .main-center-sections {
        background: $white;
        border-radius: 10px;

        .content {
            h5 {
                color: $black;
                font-size: 25px;
            }
    
            p {
                color: $dark-gray;
                font-size: 15px;
                line-height: 1.5;
            }
    
            .title {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 40%;
                    background-color: $pink-dark;
                    height: 4px;
                    width: 68px;
                }
            }
    
            .question-input {
                position: relative;
                span {
                    &.words {
                        position: absolute;
                        right: 0;
                        font-size: 13px;
                        color: $dark-gray;
                        bottom: -12px;
                    }
                }
            }
        }
    
        .solution-accordians {
            .solution-heading {
               h5 {
                color: $dark-gray;
                font-size: 22px;
                font-weight: 100;
               }
            }

            mat-accordion {
                mat-panel-title {
                    font-weight: 500;
                }

                p {
                    font-weight: 500;
                    font-size: 15px;
                    color: $dark-gray;
                    line-height: 1.6;
                }
            }
        
            .mat-expansion-panel {
                border-bottom: 1px solid #ccc;
                border-radius: 0;
                box-shadow: none;
            }

            .mat-expanded {
                .mat-expansion-panel-header-title {
                    &::before {
                        background-color: $pink-dark;
                    }
                }
            }
        
            .mat-expansion-panel-header-title {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0px;
                    top: 4px;
                    content: "";
                    width: 12px;
                    height: 12px;
                    background-color: $light-gray;
                    border-radius: 50%;
                }
            }
            
            .mat-expansion-panel-header {
                padding: 0 5px;
            }
        
            .mat-content {
                overflow: unset !important;
            }
        }

        .contact {
            .connect {
                border: 1px dashed $light-gray;
                border-radius: 10px;
                h6 {
                    font-size: 18px;
                    color: $black;
                    padding-bottom: 12px;
                }
                p {
                    font-size: 13px;
                    color: $dark-gray;
                    padding-bottom: 18px;
                }
            }
        }
    }
}