@import '../../../../../../../styles.scss';

.order-call-screen {
    background: $white;

    .top-heading {
        h6 {
            color: $black;
            font-size: 20px;
        }
    }

    .call-details {
        p {
            color: $black;
            font-size: 15px;
        }

        .contact-inputs {
            .input-heading {
                p {
                    font-size: 15px;
                    color: $dark-gray;
                }
            }
        }

        .time-inputs  {
            .input-heading {
                p {
                    font-size: 15px;
                    color: $dark-gray;
                }
            }
        }
    }
}