@import '../../../../../../../../styles.scss';

h5 {
    &.heading {
    color: $black;
    }
}
p {
    &.sub-heading {
    color: $black;
    }
}

.mat-card {
    background: $white;
}

.finish-button {
    max-width: 20%;
}