

<mat-card class="p-5">
    <div fxLayout="row">
        <div class="philosophy">
            <h3 class="mb-4">Philosophy</h3>

            <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old.from 45 BC, making it over 2000 years old. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
            <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old.from 45 BC, making it over 2000 years old. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
            <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old.from 45 BC, making it over 2000 years old. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
            <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old.from 45 BC, making it over 2000 years old. It has roots in a piece of classical Latin literature .from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
        </div>
    </div>
</mat-card>