@import '../../../../../../styles.scss';

.back-b {
    position: absolute;
    left: 15px;
    top: 15px;
    text-decoration: none;
    color: $light-gray;
    span {
        &.icon-back3 {
            font-size: 30px;
            background-color: $white;
        }
    }
}

.login-form {
    padding: 20% 0;
    @media only screen and (max-width: $xs) {
        padding: 10% 0;
    }
    .logo {
        width: 130px;
    }
    .title {
        position: relative;
        padding: 20px 0 20px 0;
        font-size: 24px;
        color: $black;
        font-weight: 700;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $pink-dark;
            height: 3px;
            width: 100px;
        }
    }
    .submit-b {
        background-color: $pink;
        width: 100%;
        color: $white;
        margin: 15px 0 0 0;
    }
    .forgot {
        padding: 15px 0 0 0;
        a {
            color: $black;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
            position: relative;
            top: 1px;
        }
    }
    .form{
        position: relative;
        .title {
            font-weight: 600;
        }
        .sub-title {
            padding: 5px 0 0 0;
            font-size: 14px;
            line-height: 24px;
            color: #717171;
            font-weight: 500;
        }
        .eye-b {
            color: $light-gray;
            position: absolute;
            top: 6px;
            right: 10px;
            cursor: pointer;
        }
        .checkbox-custom {
            font-size: 14px;
            color: $black;
            font-weight: 500;
        }

    }
}

.dont-have-account {
    position: relative;
    padding: 10% 0 0 0;
    p {
        font-size: 14px;
        color: $black;
        font-weight: 600;
        a {
            font-size: 14px;
            color: $black;
            font-weight: 600;
        }
    }
}

input {
    &.mat-input-element {
        font-size: 16px;
    }
}

.custom-control.custom-switch {
    a {
        color: $black;
    }
}