<div class="desktop-dashboard p-3">
    <div class="container">
        <div fxLayout="row" class="field-row py-4">
            <h4 class="heading pr-4">Marketplace</h4>
            <p>
                <span class="icon-commercial pr-2"></span>
                Commercial
            </p>
        </div>

        <div class="tabs-fields">
            <div fxLayout="row">
                <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
                    <mat-tab label="Favorites">
                        <app-desktop-profile-favorites></app-desktop-profile-favorites>
                    </mat-tab>

                    <mat-tab label="Rating & Reviews">
                        <app-desktop-profile-rating-reviews></app-desktop-profile-rating-reviews>
                    </mat-tab>

                    <mat-tab label="Coupons">
                        <app-desktop-profile-coupons></app-desktop-profile-coupons>
                    </mat-tab>

                    <mat-tab label="Shipping">
                        <app-desktop-profile-shipping></app-desktop-profile-shipping>
                    </mat-tab>

                    <mat-tab label="Rewards">
                        <app-desktop-profile-rewards></app-desktop-profile-rewards>
                    </mat-tab>

                    <mat-tab label="Donate">
                        <app-desktop-profile-donate></app-desktop-profile-donate>
                    </mat-tab>

                    <mat-tab label="Membership">
                        <app-desktop-profile-membership></app-desktop-profile-membership>
                    </mat-tab>

                    <mat-tab label="Invoices">
                        <app-desktop-profile-invoices></app-desktop-profile-invoices>
                    </mat-tab>
                    
                    <mat-tab label="Fees to Pay">
                        <app-desktop-profile-fees-pay-postil></app-desktop-profile-fees-pay-postil>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>