<div class="footer pt-4 pb-4 border-top">
    <div class="container">
        <div fxLayout="row">
            <div class="logo">
                <img src="../../../../assets/img/SVG/Logo.svg">
            </div>
        </div>

        <div fxLayout="row" class="border-bottom">
            <div class="pages w-100">
                <ul class="pt-4 pb-3">
                    <li><a class="mx-2" href="#">Home</a></li>
                    <li><a class="mx-2" href="#">Marketplace</a></li>
                    <li><a class="mx-2" href="#">Booking</a></li>
                </ul>
            </div>
        </div>

        <div fxLayout="row" class="border-bottom pt-3 pb-2">
            <div class="links w-100">
                <ul>
                    <li><a class="mx-2" href="#">Philosophy</a></li>
                    <li><a class="mx-2" href="#">Terms of use</a></li>
                    <li><a class="mx-2" href="#">Solutions</a></li>
                    <li><a class="mx-2" href="#">Blog</a></li>
                    <li><a class="mx-2" href="#">Help Center</a></li>
                    <li><a class="mx-2" href="#">FAQ</a></li>
                </ul>
            </div>
        </div>

        <div fxLayout="row">
            <div class="subscribe w-100 text-center pt-4 pb-2">
                <h5>Subscribe to our news</h5>
            </div>
        </div>
        <div fxLayout="row" class=" my-3">
            <input class="email d-block" type="text" placeholder="Email@mail.com">
        </div>
        <div fxLayout="row" class="subs-btn pt-1">
            <a mat-button href="#" class="w-100 pink-b py-1 rounded-bt d-block">Subscribe</a>
        </div>

    </div>
</div>