<div class="top-bar">
    <div class="container">
        <div fxLayout="row">
            <div routerLink="/home" fxFlex="25%">
                <img *ngIf="!isThemeDark" class="logo" src="../../../../../../assets/img/logo.svg" />
                <img *ngIf="isThemeDark" class="logo" src="/assets/img/logo-white.svg" />
            </div>
        </div>
    </div>
  </div>
    
  <div class="login-form py-5">
    <div class="container">
        <div fxLayout="row" class="justify-content-center">
            <div fxFlex="30%" class="text-center">
                <div class="form">
                    <img class="corner-t" src="../../../assets/img/dots.svg">
  
                    <h2 class="title">Reset Password</h2>
                    
                    <form class="pt-3" [formGroup]="resetPasswordForm" [mustMatch]="[resetPasswordForm.controls['password'], resetPasswordForm.controls['confirmPassword']]">
                        <div fxLayout="row">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Password</mat-label>
                                <input #password matInput type="password" class="form-control form-control-sm" autocomplete="off" formControlName="password">
                                <a class="eye-b">
                                    <i [appPasswordToggle]="password" class="fas fa-eye"></i>
                                </a>
                                <mat-error *ngIf="resetPasswordForm.controls['password'].errors?.required">
                                    Password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordForm.controls['password'].invalid">
                                    Password is <strong>invalid</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Confirm password</mat-label>
                                <input #passwordConfirm matInput type="password" class="form-control form-control-sm" autocomplete="off" formControlName="confirmPassword">
                                <a class="eye-b">
                                    <i [appPasswordToggle]="passwordConfirm" class="fas fa-eye"></i>
                                </a>
                                <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.required">
                                    Password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].invalid">
                                    Password is <strong>invalid</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.mustMatch">
                                    Password does not match
                                </mat-error>
                            </mat-form-field>
                        </div>
  
                        <div fxLayout="row">
                            <a (click)="onSubmit()" class="btn submit-b btn-block rounded-bt p-0 login-button" mat-button [disabled]="resetPasswordForm.invalid">Confirm</a>
                        </div>
                    </form>
                    <img class="corner-b" src="../../../assets/img/dots.svg">
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="dont-have-account">
    <div class="container text-center">
        <p>Don't have an account? <a routerLink="/auth/signup">Signup</a></p>
    </div>
  </div>