<div class="desktop-widgets-fees-pay p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>Fees to Pay</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="fees-pay">
        <div class="pay-bar py-3 border-bottom">
            <div fxFlex="28%" class="img-side">
                <img src="../../../../../../../assets/img/Rectangle Copy.png">
            </div>
            <div fxFlex="72%" class="content-side">
                <p class="heading">Running Track Energy FIT 815</p>
                <div fxLayout="row" class="shipping-detail">
                    <div fxFlex="50%">
                        <span class="text pr-2">Shipping</span>
                        <span class="price">$19.99</span>
                    </div>
                    <div fxFlex="50%">
                        <!-- <span class="text pr-2">Tax Fee</span>
                        <span class="price">$45.00</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="pay-bar py-3 border-bottom">
            <div fxFlex="28%" class="img-side">
                <img src="../../../../../../../assets/img/Rectangle-Copy.png">
            </div>
            <div fxFlex="72%" class="content-side">
                <p class="heading">Soccer ball Joerex Size 5 Yellow</p>
                <div fxLayout="row" class="shipping-detail">
                    <div fxFlex="50%">
                        <span class="text pr-2">Shipping</span>
                        <span class="price">$19.99</span>
                    </div>
                    <div fxFlex="50%">
                        <span class="text pr-2">Tax Fee</span>
                        <span class="price">$45.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>