
<div class="sidebar">
    <div class="container">
        <div class="row">
            <div class="pages">
                <ul>
                    <li routerLinkActive="active"><a routerLink="philosophy">Philosophy</a></li>
                    <li routerLinkActive="active"><a routerLink="terms-of-use">Terms of use & Privacy policy</a></li>
                    <li routerLinkActive="active"><a routerLink="solutions">Solutions</a></li>
                    <li routerLinkActive="active"><a routerLink="blog">Blog</a></li>
                    <li routerLinkActive="active"><a routerLink="help-center">Help Center</a></li>
                    <li routerLinkActive="active"><a routerLink="contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>