@import '../../../../../../styles.scss';

.sidebar {
    padding: 45% 4% 0 19%;
    .pages {

        ul {
            list-style: none;
            margin-bottom: 0px;
            li {
                position: relative;
                &.active {
                    &::after {
                        background-color: $pink-dark;
                    }
                    a {
                        color: $black;
                        font-weight: 600;
                    }
                }
                &::after {
                    position: absolute;
                    top: 12px;
                    left: -14%;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: $light-gray;
                    border-radius: 50%;
                }
                a {
                    text-decoration: none;
                    color: $light-gray;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 3;
                }
            }
        }
    }
}
