<div class="desktop-widgets-my-sale p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>My Sale</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="total-earnings py-3">
        <p class="heading">Total Earnings</p>
        <p class="number pt-2">$96677.99</p>
    </div>

    <div fxLayout="row" class="graph-details py-3 border-bottom">
        <div fxFlex="55%" class="left-side">
            <div class="circle pink">
                <p class="text">Marketplace</p>
                <p class="amount pt-2">$7805892.02
                    <span class="chip pink">50%</span>
                </p>
            </div>
            <div class="circle purple mt-4">
                <p class="text">Booking</p>
                <p class="amount pt-2">$285892.02
                    <span class="chip purple">25%</span>
                </p>
            </div>
        </div>

        <div fxFlex="45%" class="right-side ml-2">

        </div>
    </div>

    <div class="tabs">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="Marketplace">
                <div class="marketplace-tab pt-4">
                    <div fxFlex="50%" class="pr-3">
                        <div fxLayout="row">
                            <div fxFlex="65%">
                                <p class="text-field">Goods Added</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">4567</p>
                            </div>
                        </div>

                        <div fxLayout="row" class="pt-3">
                            <div fxFlex="65%">
                                <p class="text-field">Completed</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">1235</p>
                            </div>
                        </div>

                        <div fxLayout="row" class="pt-3">
                            <div fxFlex="65%">
                                <p class="text-field">On Hold</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">234</p>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50%" class="pl-3 border-left">
                        <div fxLayout="row">
                            <div fxFlex="65%">
                                <p class="text-field">Goods Sold</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">654</p>
                            </div>
                        </div>

                        <div fxLayout="row" class="pt-3">
                            <div fxFlex="65%">
                                <p class="text-field">Processing</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">763</p>
                            </div>
                        </div>

                        <div fxLayout="row" class="pt-3">
                            <div fxFlex="65%">
                                <p class="text-field">Cancelled</p>
                            </div>
                            <div fxFlex="35%" class="text-right">
                                <p class="number-field">456</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Booking">
                Content 2
            </mat-tab>
        </mat-tab-group>
    </div>
</div>