<div class="dashboard-booking-new-client">
    <div class="container">
        <div fxLayout="row" class="links py-2 border-bottom">
            <span class="pr-1">Booking</span> > <span class="pink-text pl-3">New Visit</span>
        </div>

        <div fxLayout="row" class="header-bar mt-4">
            <div fxFlex="40%" class="heading">
                <h6>New Visit</h6>
            </div>
            <div fxFlex="60%" class="btns text-right">
                <a mat-button class="white-b rounded-bt py-0 px-5 mr-4">Cancel</a>
                <a mat-button class="pink-b rounded-bt py-0 px-5">Add Visit</a>
            </div>
        </div>

        <form [formGroup]="newClientBookingForm">
            <div fxLayout="row" class="details mt-4">
                <div fxFlex="35%" class="left-side p-3 mr-3">
                    <div fxLayout="row" class="heading pb-3 border-bottom">
                        <p>Add New Client</p>
                    </div>
                    <div fxLayout="row" class="client mt-4">
                        <div fxFlex="15%" class="client-img" *ngIf="preview.length > 0">
                            <ng-container *ngFor="let preview of preview; let i = index">
                                <span (click)="removeImage(i)" class="icon-baseline-close-24px-11 close"></span>
                                <img class="mr-2 mt-3" [src]="preview.data" />
                            </ng-container>
                        </div>

                        <div fxFlex="85%" class="drag-img ml-3">
                            <app-file-upload *ngIf="preview.length == 0" (uploadData)="onFileUpload($event)"
                                template="default">
                            </app-file-upload>
                        </div>
                    </div>


                    <!-- <img src="../../../../../../../../assets/img/w2.png">
                    <a class="add-btn">
                        <span class="icon-add-button-inside-black-circle-1"></span>
                    </a>
                    <p class="pt-4">Drag & Drop</p>
                    <p class="pt-2 pb-3">Client Profile Photo</p>
                    <div class="upload-btn border-top pt-3">
                        <a mat-button class="pink-b outlined rounded-bt d-block">Upload</a>
                    </div> -->




                    <!-- <div fxLayout="row" class="client mt-4">
                        <div fxFlex="15%" class="client-img">
                            <img src="../../../../../../../../assets/img/adrian.png">
                        </div>

                        <div fxFlex="85%" class="drag-img ml-3">
                            <div fxLayout="row">
                                <label for="file-input">
                                    <span class="icon-baseline-filter_hdr-24px"></span>
                                    <span class="text pl-3">Drag & Drop Here</span>
                                </label>
            
                                <input id="file-input" type="file" />
                            </div>
                        </div>
                    </div> -->

                    <div fxLayout="row" class="client-input mt-2">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Client Name</mat-label>
                            <input matInput type="text" formControlName="clientName">
                            <mat-error *ngIf="newClientBookingForm.get('clientName').hasError('required')">
                                Client Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" class="phone-number-input">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="number" formControlName="phoneNumber">
                            <mat-error *ngIf="newClientBookingForm.get('phoneNumber').hasError('required')">
                                Phone Number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" class="email-input">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email">
                            <mat-error *ngIf="newClientBookingForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" class="btns justify-content-center">
                        <a mat-button class="white-b py-0 rounded-bt px-5 mr-3">Cancel</a>
                        <a mat-button class="pink-b py-0 rounded-bt px-5">Save Client</a>
                    </div>
                </div>

                <div fxFlex="65%" class="right-side p-3">
                    <div class="service-inputs px-3 py-2">
                        <div fxLayout="row" class="dropdown-service">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Service</mat-label>
                                <mat-select formControlName="service">
                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Acrylic Full Pearl Set/ French Tips </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Barber Hair </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Full Massage Man </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Massage Women </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="newClientBookingForm.get('service').hasError('required')">
                                    Service is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <div fxFlex="50%" class="mr-3">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Date</mat-label>
                                    <mat-select formControlName="date">
                                        <mat-option value="today">Today</mat-option>
                                        <mat-option value="yesterday">Yesterday</mat-option>
                                        <mat-option value="tomorrow">Tomorrow</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('date').hasError('required')">
                                        Date is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%" class="mr-3">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Time From</mat-label>
                                    <mat-select formControlName="timeFrom">
                                        <mat-option value="10">10:00</mat-option>
                                        <mat-option value="11">11:30</mat-option>
                                        <mat-option value="12">12:00</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('timeFrom').hasError('required')">
                                        Time From <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Time To</mat-label>
                                    <mat-select formControlName="timeTo">
                                        <mat-option value="11">11:30</mat-option>
                                        <mat-option value="12">12:00</mat-option>
                                        <mat-option value="01">01:30</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('timeTo').hasError('required')">
                                        Time To <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row" class="delete-btn">
                            <div fxFlex="40%" class="delete">
                                <a mat-button class="px-3">
                                    <span class="icon-baseline-close-24px-1 pr-2"></span>
                                    Delete Service
                                </a>
                            </div>

                            <div fxFlex="60%" class="time-price text-right">
                                <span class="time pr-4">30min</span>
                                <span class="price">$165</span>
                            </div>
                        </div>
                    </div>

                    <div class="service-inputs px-3 py-2 mt-3">
                        <div fxLayout="row" class="dropdown-service">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Service</mat-label>
                                <mat-select formControlName="service">
                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Acrylic Full Pearl Set/ French Tips </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Barber Hair </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Full Massage Man </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>

                                    <mat-option fxLayout="row" value="acrylic">
                                        <div fxFlex="60%" class="left-side pr-4">
                                            <p>Massage Women </p>
                                        </div>
                                        <div fxFlex="40%" class="right-side text-right">
                                            <p>
                                                <span> 30min</span> <span class="pl-3 pink-text"> $55</span>
                                            </p>
                                        </div>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="newClientBookingForm.get('service').hasError('required')">
                                    Service is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <div fxFlex="50%" class="mr-3">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Date</mat-label>
                                    <mat-select formControlName="date">
                                        <mat-option value="today">Today</mat-option>
                                        <mat-option value="yesterday">Yesterday</mat-option>
                                        <mat-option value="tomorrow">Tomorrow</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('date').hasError('required')">
                                        Date is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%" class="mr-3">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Time From</mat-label>
                                    <mat-select formControlName="timeFrom">
                                        <mat-option value="10">10:00</mat-option>
                                        <mat-option value="11">11:30</mat-option>
                                        <mat-option value="12">12:00</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('timeFrom').hasError('required')">
                                        Time From <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Time To</mat-label>
                                    <mat-select formControlName="timeTo">
                                        <mat-option value="11">11:30</mat-option>
                                        <mat-option value="12">12:00</mat-option>
                                        <mat-option value="01">01:30</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="newClientBookingForm.get('timeTo').hasError('required')">
                                        Time To <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row" class="delete-btn">
                            <div fxFlex="40%" class="delete">
                                <a mat-button class="px-3">
                                    <span class="icon-baseline-close-24px-1 pr-2"></span>
                                    Delete Service
                                </a>
                            </div>

                            <div fxFlex="60%" class="time-price text-right">
                                <span class="time pr-4">30min</span>
                                <span class="price">$165</span>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" class="date-repeat pb-3 border-bottom mt-4">
                        <div fxFlex="75%" class="left-side pt-2">
                            <div fxLayout="row">
                                <div fxFlex="5%">
                                    <img src="../../../../../../../../assets/img/repeat.png">
                                </div>
                                <div fxFlex="95%">
                                    <p>Repeate Every 2 Weeks, Start From March 27 - End to April 3</p>
                                </div>
                            </div>

                        </div>

                        <div fxFlex="25%" class="right-side text-right">
                            <div class="time-price">
                                <span class="time pr-4">180min</span>
                                <span class="price pink-text">$225</span>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" class="text-area mt-3">
                        <mat-form-field class="w-100">
                            <mat-label>Note</mat-label>
                            <textarea matInput type="text" formControlName="note"></textarea>
                            <mat-error *ngIf="newClientBookingForm.get('note').hasError('required')">
                                Note is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <span class="words">500/1000</span>
                    </div>

                    <div fxLayout="row" class="text-area mt-4">
                        <mat-form-field class="w-100">
                            <mat-label>Message to Client</mat-label>
                            <textarea matInput type="text" formControlName="messageClient"></textarea>
                            <mat-error *ngIf="newClientBookingForm.get('messageClient').hasError('required')">
                                Message to Client is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <span class="words">250/500</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>