<div class="desktop-widgets-favorite-business p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>Favorite Business</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="favorite-business">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="Marketplace">
                <div class="fields-scroll pr-2">
                    <div class="favorite-field py-3 border-bottom">
                        <div class="heading">
                            <div fxFlex="80%">
                                <p>whatsupstoners shop</p>
                            </div>
                            <div fxFlex="20%" class="text-right">
                                <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                            </div>
                        </div>
        
                        <div class="rating">
                            <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                            <span class="text">2 product ratings</span>
                        </div>
                    </div>

                    <div class="favorite-field py-3 border-bottom">
                        <div class="heading">
                            <div fxFlex="80%">
                                <p>Riidco shop</p>
                            </div>
                            <div fxFlex="20%" class="text-right">
                                <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                            </div>
                        </div>
        
                        <div class="rating">
                            <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                            <span class="text">233 product ratings</span>
                        </div>
                    </div>

                    <div class="favorite-field py-3 border-bottom">
                        <div class="heading">
                            <div fxFlex="80%">
                                <p>Vatsak</p>
                            </div>
                            <div fxFlex="20%" class="text-right">
                                <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                            </div>
                        </div>
        
                        <div class="rating">
                            <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                            <span class="text">6456 product ratings</span>
                        </div>
                    </div>

                    <div class="favorite-field py-3 border-bottom">
                        <div class="heading">
                            <div fxFlex="80%">
                                <p>Nike</p>
                            </div>
                            <div fxFlex="20%" class="text-right">
                                <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                            </div>
                        </div>
        
                        <div class="rating">
                            <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                            <span class="text">75675 product ratings</span>
                        </div>
                    </div>

                    <div class="favorite-field py-3 border-bottom">
                        <div class="heading">
                            <div fxFlex="80%">
                                <p>Puma</p>
                            </div>
                            <div fxFlex="20%" class="text-right">
                                <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                            </div>
                        </div>
        
                        <div class="rating">
                            <app-star-rating [maxScore]="5" [score]="4.0" [forDisplay]="true"></app-star-rating>
                            <span class="text">4556 product ratings</span>
                        </div>
                    </div>
                </div>
                
                <div class="view-btn pt-2">
                    <a mat-button class="pink-text text-center d-block">View all</a>
                </div>
            </mat-tab>

            <mat-tab label="Booking">
                Content 2
            </mat-tab>
        </mat-tab-group>
    </div>
</div>