<div class="desktop-widgets-open-deals p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>Open Deals</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="deals">
        <div class="fields-scroll pr-2">
            <div class="deal-fields py-3 border-bottom">
                <div fxLayout="row" class="product">
                    <div fxFlex="50%" class="img-side">
                        <img src="../../../../../../../assets/img/Rectangle2.png">
                        
                        <div class="discount-off">
                            <p>10% Off</p>
                        </div>
                    </div>
                    <div fxFlex="50%" class="btns-side text-right">
                        <span class="icon-add-btn"></span>
                        <span class="icon-baseline-close-24px-1"></span>
                        <span class="edit-btn">Edit</span>
                    </div>
                </div>
                <div class="product-name pt-2">
                    <p class="text-truncate">Cordless screwdriver Zenit USA-1213 A Li-1K</p>
                </div>
                <div fxLayout="row" class="price pt-3">
                    <div fxFlex="33%" class="mr-2">
                        <span class="text">On Stock</span>
                        <span class="number">98</span>
                    </div>
                    <div fxFlex="33%" class="mr-2">
                        <span class="text">Price</span>
                        <span class="number">$144</span>
                    </div>
                    <div fxFlex="33%" class="text-center">
                        <!-- <span class="text">Fix. Price</span>
                        <span class="number">$144</span> -->
                    </div>
                </div>
            </div>

            <div class="deal-fields py-3 border-bottom">
                <div fxLayout="row" class="product">
                    <div fxFlex="50%" class="img-side">
                        <img src="../../../../../../../assets/img/Rectangle3.png">
                        
                        <div class="discount-off">
                            <p>11% Off</p>
                        </div>
                    </div>
                    <div fxFlex="50%" class="btns-side text-right">
                        <span class="icon-add-btn"></span>
                        <span class="icon-baseline-close-24px-1"></span>
                        <span class="edit-btn">Edit</span>
                    </div>
                </div>
                <div class="product-name pt-2">
                    <p class="text-truncate">Akura Rice for sushi 1 Kg</p>
                </div>
                <div fxLayout="row" class="price pt-3">
                    <div fxFlex="33%" class="mr-2">
                        <span class="text">On Stock</span>
                        <span class="number">98</span>
                    </div>
                    <div fxFlex="34%" class="mr-2">
                        <span class="text">Bid. Price</span>
                        <span class="number">$144</span>
                    </div>
                    <div fxFlex="33%" class="text-center">
                        <span class="text">Fix. Price</span>
                        <span class="number">$144</span>
                    </div>
                </div>
            </div>

            <div class="deal-fields py-3 border-bottom">
                <div fxLayout="row" class="product">
                    <div fxFlex="50%" class="img-side">
                        <img src="../../../../../../../assets/img/Rectangle-Copy.png">
                        
                        <div class="discount-off">
                            <p>44% Off</p>
                        </div>
                    </div>
                    <div fxFlex="50%" class="btns-side text-right">
                        <span class="icon-add-btn"></span>
                        <span class="icon-baseline-close-24px-1"></span>
                        <span class="edit-btn">Edit</span>
                    </div>
                </div>
                <div class="product-name pt-2">
                    <p class="text-truncate">Soccer ball Joerex Size 5 Yellow</p>
                </div>
                <div fxLayout="row" class="price pt-3">
                    <div fxFlex="33%" class="mr-2">
                        <span class="text">On Stock</span>
                        <span class="number">98</span>
                    </div>
                    <div fxFlex="34%" class="mr-2">
                        <span class="text">Price</span>
                        <span class="number">$144</span>
                    </div>
                    <div fxFlex="33%" class="text-center">
                        <!-- <span class="text">Fix. Price</span>
                        <span class="number">$144</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="view-btn pt-2">
            <a mat-button class="pink-text text-center d-block">View all</a>
        </div>
    </div>
</div>