      <div mat-dialog-content>
          <div fxLayout="row" fxLayoutAlign="center" class="search-notification">
            <div class="search-notification-bg">
              <h1 class="title">Your search has been saved</h1>
              <p class="text-center p-2">You can found saved search
                In your profile</p>
            </div>
          </div>
      </div>

      <div mat-dialog-actions fxLayout="row" class="justify-content-center">
        <div fxFlex="30%" class="pt-4">
          <a
            mat-button
            class="pink-b rounded-bt p-0 btn-block w-100"
            (click)="onSubmit()"
            >Got It</a
          >
        </div>
      </div>
