<div class="desktop-dashboard-setting">
    <div class="container">
        <div fxLayout="row" class="top-bar py-4">
            <h6>
                Settings
                <p class="commercial ml-4">
                    <span class="icon-commercial"></span>
                    <span class="text">Commercial</span>  
                </p>
            </h6>
        </div>

        <div fxLayout="row" class="setting-sections py-4">
            <div fxFlex="65%" class="left-section mr-4">
                <div class="personal-data p-3">
                    <div fxLayout="row" class="top-row border-bottom pb-2">
                        <div fxFlex="85%" class="heading-side">
                            <p>Personal Data</p>
                        </div>

                        <div fxFlex="15%" class="edit-side text-right">
                            <a mat-button class="">
                                <img src="../../../../../../assets/img/writing-public.png">
                            </a>
                        </div>
                    </div>

                    <div fxLayout="row" class="input-fields pt-3">
                        <div fxFlex="34%" class="mr-3">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Edit Email</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" class="mr-3">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Edit Password</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Phone Number</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="accept-method p-3 mt-4">
                    <div fxLayout="row" class="top-row border-bottom pb-2">
                        <div fxFlex="85%" class="heading-side">
                            <p>Accept Method</p>
                        </div>

                        <div fxFlex="15%" class="edit-side text-right">
                            <a mat-button class="">
                                <img src="../../../../../../assets/img/writing-public.png">
                            </a>
                        </div>
                    </div>

                    <div fxLayout="row" class="method-imgs pt-4">
                        <span class="icon-Group-1296 mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            <span class="path4"></span><span class="path5"></span><span class="path6"></span>
                            <span class="path7"></span><span class="path8"></span><span class="path9"></span>
                            <span class="path10"></span><span class="path11"></span><span class="path12"></span>
                            <span class="path13"></span><span class="path14"></span><span class="path15"></span>
                        </span>
                        <span class="icon-PayPal-FullColor-Horizontal mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            <span class="path4"></span><span class="path5"></span><span class="path6"></span>
                            <span class="path7"></span><span class="path8"></span><span class="path9"></span>
                        </span>
                        <a mat-button class="pink-text">
                            <span class="icon-add-button-inside-black-circle-1 pr-3"></span>
                            Add Payment Method
                        </a>
                    </div>
                </div>

                <div class="payment-method p-3 mt-4">
                    <div fxLayout="row" class="top-row border-bottom pb-2">
                        <div fxFlex="60%" class="heading-side">
                            <p>Payment Method</p>
                        </div>
                        <div fxFlex="25%" class="toggle pt-1 text-center">
                            <span class="toggle-text pr-4">Same for both</span><mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="15%" class="edit-side text-right">
                            <a mat-button class="">
                                <img src="../../../../../../assets/img/writing-public.png">
                            </a>
                        </div>
                    </div>

                    <div fxLayout="row" class="method-imgs pt-4">
                        <span class="icon-Group-1295 mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            <span class="path4"></span><span class="path5"></span>
                        </span>
                        <span class="icon-Card-networks-MC-Horizontal2 mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                        </span>
                        <span class="icon-Group-1296 mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            <span class="path4"></span><span class="path5"></span><span class="path6"></span>
                            <span class="path7"></span><span class="path8"></span><span class="path9"></span>
                            <span class="path10"></span><span class="path11"></span><span class="path12"></span>
                            <span class="path13"></span><span class="path14"></span><span class="path15"></span>
                        </span>
                        <span class="icon-PayPal-FullColor-Horizontal mr-4">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            <span class="path4"></span><span class="path5"></span><span class="path6"></span>
                            <span class="path7"></span><span class="path8"></span><span class="path9"></span>
                        </span>
                        <a mat-button class="pink-text">
                            <span class="icon-add-button-inside-black-circle-1 pr-3"></span>
                            Add Payment Method
                        </a>
                    </div>
                </div>

                <div class="address-data p-3 mt-4">
                    <div fxLayout="row" class="top-row border-bottom pb-2">
                        <div fxFlex="85%" class="heading-side">
                            <p>Address</p>
                        </div>

                        <div fxFlex="15%" class="edit-side text-right">
                            <a mat-button class="">
                                <img src="../../../../../../assets/img/writing-public.png">
                            </a>
                        </div>
                    </div>

                    <div class="currently-address">
                        <div class="sub-heading py-3">
                            <p>Currently Address</p>
                        </div>

                        <div fxLayout="row" class="input-fields">
                            <div fxFlex="23%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Street</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="13%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Number</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="23%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="13%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Post Code</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="23%">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Country</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="shipping-address">
                        <div class="sub-heading py-3">
                            <p>Shipping Address</p>
                        </div>
                        
                        <div fxLayout="row" class="input-fields">
                            <div fxFlex="23%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Street</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="13%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Number</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="23%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="13%" class="mr-2">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Post Code</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="23%">
                                <mat-form-field class="form-section w-100">
                                    <mat-label>Country</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notification p-3 mt-4">
                    <div fxLayout="row" class="top-row border-bottom pb-2">
                        <div fxFlex="55%" class="heading-side">
                            <p>Notification Email</p>
                        </div>
                        <div fxFlex="30%" class="toggle pt-1 text-center">
                            <span class="toggle-text pr-4">Use Same to General</span><mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="15%" class="edit-side text-right">
                            <a mat-button class="">
                                <img src="../../../../../../assets/img/writing-public.png">
                            </a>
                        </div>
                    </div>

                    <div class="email-input pt-2">
                        <mat-form-field class="form-section w-100">
                            <mat-label>Edit Email</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxFlex="35%" class="right-section p-3">
                <div class="field-section border-bottom pb-3">
                    <div fxLayout="row">
                        <div fxFlex="70%" class="title-side">
                            <p>Dark Theme</p>
                        </div>
                        <div fxFlex="30%" class="toggle-side text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="70%" class="title-side">
                            <p>Notifications</p>
                        </div>
                        <div fxFlex="30%" class="toggle-side text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="70%" class="title-side">
                            <p>Add Messenger</p>
                        </div>
                        <div fxFlex="30%" class="toggle-side text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>

                <div class="type-section">
                    <div fxLayout="row" class="headings mt-4">
                        <div fxFlex="60%">
                            <p>Type</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <p>Push</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <p>Email</p>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Changing on a Bid</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Buying a Good</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Selling a Godd</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Adding a News</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Daily Report</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Weekly Report</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Monthly Report</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Yearly Report</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Needed to Review</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" class="mt-3">
                        <div fxFlex="60%" class="title-side">
                            <p>Needed to Reply</p>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <div fxFlex="20%" class="text-right">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>