<div class="top-bar">
    <div class="container">
        <div fxLayout="row">
            <div routerLink="/home" fxFlex="25%">
                <img *ngIf="!isThemeDark" class="logo" src="../../../../../../assets/img/logo.svg" />
                <img *ngIf="isThemeDark" class="logo" src="/assets/img/logo-white.svg" />
            </div>
        </div>
    </div>
  </div>
    
  <div class="login-form py-5">
    <div class="container">
        <div fxLayout="row" class="justify-content-center">
            <div fxFlex="30%" class="text-center">
                <div class="form">
                    <img class="corner-t" src="../../../assets/img/dots.svg">
  
                    <h2 class="title">Forgot Password?</h2>
                    <p class="sub-title">Please enter your email address.<br>You will receive a link to create a new <br> password via email</p>
                    
                    <form class="pt-3" [formGroup]="forgetPasswordForm">
                        <div fxLayout="row">
                            <mat-form-field class="form-section w-100">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" class="form-control form-control-sm" autocomplete="off" formControlName="email">
                                <mat-error *ngIf="forgetPasswordForm.controls['email'].errors?.required">
                                    Email is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="forgetPasswordForm.controls['email'].invalid">
                                    Email is <strong>invalid</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
  
                        <div fxLayout="row">
                            <a (click)="onSubmit()" class="btn submit-b btn-block rounded-bt p-0 login-button" mat-button [disabled]="forgetPasswordForm.invalid">Send email</a>
                        </div>
                    </form>
                    <img class="corner-b" src="../../../assets/img/dots.svg">
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="dont-have-account">
    <div class="container text-center">
        <p>Don't have an account? <a routerLink="/auth/signup">Signup</a></p>
    </div>
  </div>