<div class="desktop-dashboard-client-details" *ngIf="dataClient">
    <div class=" row client-info">
        <div class="col-lg-2 col-4 mb-2">
            <div class="img-section">
                <img src="{{dataClient.client_pic}}">
            </div>
        </div>
        <div class="col-lg-3 col-8 mb-2">
            <div class="detail-section">
                <h6>{{dataClient.client_name}}</h6>
                <a class="edit-btn" (click)="onSelectType('edit')">
                    <img src="../../../../../../../assets/img/writing-public.png">
                </a>
                <p class="pt-2">{{dataClient.phone_isd}} {{dataClient.phone_number}}</p>
                <p class="pt-1">{{dataClient.email}}</p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="product-brief-section">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="product-box pt-3 pb-3 mb-2">
                            <h6>{{dataClient.bookings_count}}</h6>
                            <p>Bookings</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">

                        <div class="product-box pt-3 pb-3 mb-2">
                            <h6>{{dataClient.finished}}</h6>
                            <p>Finished</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">

                        <div class="product-box pt-3 pb-3 mb-2">
                            <h6>{{dataClient.cancelled}}</h6>
                            <p>Cancelled</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="product-box pt-3 pb-3 mb-2">
                            <h6>{{dataClient.no_shows}}</h6>
                            <p>No Shows</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row total-bar mt-4 p-3">
        <div class="col-lg-5">
            <div>
                <p class="text">Total revenue from client</p>
            </div>
        </div>
        <div class="col-lg-2 col-4">
            <div>
                <span class="amount">{{dataClient.total_revenue}}</span>
            </div>
        </div>
        <div class="col-lg-3 col-4">

            <div>
                <p class="text">Discount</p>
            </div>
        </div>
        <div class="col-lg-2 col-4">
            <div class="text-right">
                <span class="amount">{{dataClient.discount}}</span>
            </div>
        </div>
    </div>

    <div class="service-status">
        <div class="service py-4 border-bottom" *ngFor="let item of dataClient.services">
            <div fxLayout="row" class="row field-row">
                <div fxFlex="80%" class="left-side">
                    <p>{{item.service_name}}</p>
                </div>
                <div fxFlex="20%" class="right-side text-right">
                    <p *ngIf="!item.cancel || !item.finished">${{item.price}}</p>
                </div>
            </div>

            <div fxLayout="row" class="time-row mt-1">
                <div fxFlex="80%" class="left-side">
                    <span class="pr-3">{{item.book_date | date:'fullDate'}}</span>
                    <span class="pr-3">{{item.to_time}} - {{item.from_time}}</span>
                    <span>From Martin</span>
                </div>
                <div fxFlex="20%" class="right-side text-right">
                    <span *ngIf="!item.cancel || !item.finished">{{item.service_duration_minutes}} min</span>
                    <p class="pink-text" *ngIf="item.cancel">Cancelled</p>
                    <p class="pink-text" *ngIf="item.finished">Finished</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!dataClient">
    <h4>Select Any Client From List.</h4>
</div>