@import '../../../../../../../styles.scss';

.desktop-dashboard-booking-reviews {
    .review-ratings {
        border-radius: 10px;
        background: $white;
    }

    .reviews-content  {
        border-radius: 10px;
        background: $white;
    }
}
.seller-profile, .review-rating , .star-rating , .bar-rating {
    height: 100% !important;
}