<div class="desktop-dashboard-booking-reviews">
    <div class="review-ratings p-3 mt-4">
        <app-desktop-booking-review-ratings></app-desktop-booking-review-ratings>
    </div>

    <div class="reviews-content p-3 mt-4">
        <mat-tab-group selectedIndex="0" animationDuration="0ms" class="w-100">
            <mat-tab label="All Reviews">
                <app-desktop-booking-all-reviews></app-desktop-booking-all-reviews>
            </mat-tab>

            <mat-tab label="Newest Review">Content 2</mat-tab>

            <mat-tab label="Need to Review (23)">Content 3</mat-tab>
          </mat-tab-group>
    </div>
</div>
