<style>
  .container_left {
    border-right: 1px solid #d3d3d3;
  }

  .layout_header_left {
    padding: 20px 0;
    margin-right: 80px;
    border-bottom: 1px solid #d3d3d3;
  }

  .layout_header_left .header_left {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  .layout_header_left .header_left h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  .layout_header_left .header_left img {
    padding: 0 10px;
  }

  .layout_header_left .header_left button {
    font-size: 12px;
    color: #fff;
    background-color: #06b906;
    border: none;
    outline: none;
    border-radius: 20px;
  }

  .layout_header_left .header_left_bottom {
    display: flex;
    align-items: center;
  }

  .layout_header_left .header_left_bottom i {
    font-size: 1rem;
    color: #d3d3d3;
    padding-right: 10px;
  }

  .layout_header_left .header_left_bottom p {
    font-size: 1rem;
    margin: 0;
  }

  .layout_content_left {
    padding: 40px 80px 40px 0;
  }

  .layout_content_left img {
    width: 100%;
  }

  .layout_content_left .layout_content_images {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .layout_content_left .layout_content_images .layout_content_images_1 {
    width: 100%;
    padding-right: 25px;
    height: 90px;
  }

  .layout_content_left .layout_content_images .layout_content_images_1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
  }

  .layout_content_left .layout_content_images .layout_content_images_2 {
    width: 100%;
    height: 90px;
  }

  .layout_content_left .layout_content_images .layout_content_images_2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
  }

  .layout_content_left .search_btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .layout_content_left .search_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: gray;
    border: none;
    outline: none;
  }

  .layout_content_left .search_btn button i {
    font-size: 14px;
    color: gray;
    margin-right: 10px;
  }

  @media only screen and (max-width: 678px) {
    .layout_content {
      padding: 20px !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .container_left {
      border-right: none !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .layout_content_left {
      padding: 20px !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .layout_content_right {
      padding: 20px !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .layout_header_left {
      margin: 0 !important;
      padding: 20px !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .layout_header_right {
      padding: 20px !important;
    }
  }

  @media only screen and (max-width: 678px) {
    .layout_header_right .header_right .header_ratings {
      padding-right: 20px !important;
    }
  }

  .layout_header_right {
    padding: 30px 0 24px 0;
    border-bottom: 1px solid #d3d3d3;
  }

  .layout_header_right .header_right {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: right;
  }

  .layout_header_right .header_right button {
    display: flex;
    align-items: center;
    border: 1px solid #d3d3d3;
    outline: none;
    color: #000;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #fff;
  }

  .layout_header_right .header_right button i {
    color: #fd4876;
    margin-right: 10px;
  }

  .layout_header_right .header_right .header_ratings {
    padding-right: 100px;
  }

  .layout_header_right .header_right .header_ratings .rattings_stars {
    display: flex;
    align-items: center;
  }

  .layout_header_right .header_right .header_ratings .rattings_stars i {
    color: #fd4876;
    font-size: 14px;
  }

  .layout_header_right .header_right .header_ratings .ratings_reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .layout_header_right .header_right .header_ratings .ratings_reviews h4 {
    color: gray;
    font-size: 14px;
    margin: 0;
  }

  .layout_header_right .header_right .header_ratings .ratings_reviews p {
    font-size: 12px;
    color: #fd4876;
    margin: 0;
    padding-left: 10px;
  }

  .layout_content_right {
    padding: 40px 0px 40px 50px;
  }

  .layout_content_right iframe {
    width: 100%;
    border-radius: 10px;
    min-height: 200px;
  }

  .layout_content_right .map_address {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .layout_content_right .map_address h4 {
    font-size: 14px;
    color: gray;
    margin: 0;
    margin-right: 5px;
  }

  .layout_content_right .map_address p {
    color: #000;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
  }

  .layout_content_right .site_direction {
    color: #fd4876;
    font-size: 14px;
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
    padding-bottom: 10px;
  }

  .layout_content_right .right_text {
    font-size: 14px;
    margin: 0;
    padding: 10px 0 20px;
  }

  .layout_content_right .right_content_images {
    display: flex;
    padding: 30px 25px 45px;
    background-color: #f6f4f4;
    border-radius: 10px;
  }

  .layout_content_right .right_content_images .layout_content_images_2 {
    padding-right: 25px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  .layout_content_right .right_content_images .layout_content_images_2 img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
  }

  .layout_content_right .right_footer {
    justify-content: space-between;
    padding-top: 40px;
  }

  .layout_content_right .right_footer .footer_left {
    display: flex;
    align-items: center;
  }

  .layout_content_right .right_footer .footer_left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .layout_content_right .right_footer .footer_left .footer_days {
    font-size: 14px;
    padding-right: 10px;
  }

  .layout_content_right .right_footer .footer_left .footer_days .days_child_01 {
    color: #d3d3d3;
  }

  .layout_content_right .right_footer .footer_left .footer_days .days_child_02 {
    color: #fd4876;
  }

  .layout_content_right .right_footer .footer_left .footer_time {
    font-size: 14px;
  }

  .layout_content_right .right_footer .footer_right {
    text-align: center;
  }

  .layout_content_right .right_footer .footer_right .booking_btn {
    padding: 10px 70px;
    font-size: 14px;
    color: #fff;
    background-color: #fd4876;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    border: none;
    outline: none;
  }

  .layout_content_right .right_footer .footer_right .footer_right_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .layout_content_right .right_footer .footer_right .footer_right_options button {
    padding: 0;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 15px 0;
    align-items: center;
    display: flex;
  }

  .layout_content_right .right_footer .footer_right .footer_right_options button i {
    color: #fd4876;
    margin-right: 5px;
  }

  @media only screen and (max-width: 600px) {
    .layout_content_right .right_footer .footer_left {
      justify-content: space-between;
      padding-bottom: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .footer_right {
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .layout_content_right .right_footer .footer_right .booking_btn {
      padding: 10px 30px;
    }
  }
</style>
<div class="product-page clearfix container-fluid main-size">
  <!-- product-deatil -->
  <div class="container">

    <div class="row">
      <span class="mr-2">Booking ></span>
      <span class="mr-2">Hair Saloon ></span>
      <span class="mr-2 pink-text">{{ shopDetails?.shop_name }}</span>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="container_left">
          <div class="layout_header_left">
            <div class="header_left">
              <h1> {{ shopDetails?.shop_name }}</h1>
              <img src="/assets/img/product-booking2.png">
              <button>{{ shopDetails?.overall_rating_percentage }}%</button>
            </div>
            <div class="header_left_bottom">
              <i class="fa-light fa-location-dot"></i>
              <p>{{ shopDetails?.street }}, {{ shopDetails?.street_num }}
                {{ shopDetails?.state }}</p>
            </div>
          </div>
          <div class="layout_content_left">
            <!-- <img src="/assets/img/book-product1.png"> -->
            <div class="layout_content_images">
              <div class="layout_content_images_1">
                <app-product-preview [slides]="[shopDetails?.business_logo]"></app-product-preview>
              </div>
            </div>

            <div class="search_btn">
              <button><i class="fa-regular fa-magnifying-glass"></i> Mouse hover to zoom</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="container_right">
          <div class="layout_header_right">
            <div class="header_right">
              <div class="header_ratings">
                <div class="rattings_stars">
                  <app-star-rating [maxScore]="5" [score]="shopDetails?.rating_data.avg_rating" [forDisplay]="true">
                  </app-star-rating>
                </div>
                <div class="ratings_reviews">
                  <h4> {{ shopDetails?.rating_data.total_reviews }} Reviews</h4>
                  <a mat-button class="pink-text" routerLink="all-reviews">
                    (Show All)
                  </a>
                </div>
              </div>
              <button *ngIf="userInfo" (click)="addToFavourites()">
                <i class="fa-solid fa-heart"></i>
                Add to Favorite
              </button>
            </div>
          </div>

          <div class="layout_content_right">
            <div #mapElement class="map" id="map" class="match-parent"></div>
            <div class="map_address">
              <h4>Address: </h4>
              <p>{{ shopDetails?.street }}, {{ shopDetails?.street_num }}
                {{ shopDetails?.state }}</p>
            </div>
            <p class="right_text"> <a mat-button (click)="showDirection()" class="direction-btn pink-text">{{
                !isShowDirection ? "Show" :
                "Hide" }} direction</a></p>
            <p class="right_text">
              {{ shopDetails?.shop_description }}
            </p>

            <div class="right_content_images">
              <div class="layout_content_images_2" *ngFor="let member of shopDetails?.members">
                <img src="{{ member.photo }}">
                {{ member.name }}
              </div>
            </div>
            <div class="right_footer">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="footer_left" *ngFor="let timing of shopDetails?.timings">
                    <ul class="footer_days">
                      <li class="days_child_02">{{timing?.day_name}}</li>
                    </ul>
                    <ul class="footer_time">
                      <li>{{timing?.open_times}} - {{timing?.closed_times}}</li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="footer_right">
                    <button class="booking_btn" *ngIf="userInfo" (click)="navigateToMakeBooking()">Book a visit</button>
                    <div class="footer_right_options">
                      <button (click)="openShareLink()"><i class="fa-sharp fa-solid fa-share-nodes"></i> Share in
                        social</button>
                      <button *ngIf="userInfo" (click)="addToFavourites()">
                        <i class="fa-solid fa-heart"></i>
                        Add to Favorite</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="book-visit border-top">
  <div class="container py-5">
    <div class="heading-bar">
      <h3 class="heading">Book a Visit</h3>
    </div>
    <div *ngFor="let service of services">
      <div class="book-appointment" *ngIf="
          service.category__name == 'For Women' && service.services.length > 0
        ">
        <div fxLayout="row" class="pt-4">
          <p class="heading">
            For Women {{ service.services.length }}
            <span [appToggleSectionAccordian]="servicesForWomen"
              class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span>
          </p>
        </div>

        <div #servicesForWomen>
          <ng-container>
            <div class="booking-fields p-3 mt-4" *ngFor="let subService of service.services">
              <div fxLayout="row" class="pb-3">
                <div fxFlex="64%" class="heading">
                  <h6 class="pb-2">{{ subService.service_name }}</h6>
                  <app-star-rating [maxScore]="5" [score]="subService.avg_rating" [forDisplay]="true"></app-star-rating>
                  <span class="star-text pl-3">{{ subService.rating_count }} Book Ratings</span>
                </div>
                <div fxFlex="16%" class="time-price border-left px-4">
                  <p class="wrapper">
                    <span class="time">{{ subService.duration }}</span>
                    <span class="text float-right">${{ subService.total }}</span>
                  </p>
                </div>
                <div fxFlex="20%" class="book-btn border-left pl-5" *ngIf="userInfo">
                  <a mat-button class="rounded-bt pink-b px-5" (click)="navigateToMakeBooking(subService.id)">Book
                    Now</a>
                </div>
              </div>
              <div class="details border-top pt-3">
                <p class="pb-2">
                  {{subService.description}}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="book-appointment" *ngIf="
          service.category__name == 'For Men' && service.services.length > 0
        ">
        <div fxLayout="row" class="pt-4">
          <p class="heading">
            For Men {{ service.services.length }}
            <span [appToggleSectionAccordian]="servicesForMen" class="icon-baseline-keyboard_arrow_down-24px-1 ml-3">
            </span>
          </p>
        </div>

        <div #servicesForMen>
          <ng-container>
            <div class="booking-fields p-3 mt-4" *ngFor="let subService of service.services">
              <div fxLayout="row" class="pb-3">
                <div fxFlex="64%" class="heading">
                  <h6 class="pb-2">{{ subService.service_name }}</h6>
                  <app-star-rating [maxScore]="5" [score]="subService.avg_rating" [forDisplay]="true"></app-star-rating>
                  <span class="star-text pl-3">{{ subService.rating_count }} Book Ratings</span>
                </div>
                <div fxFlex="16%" class="time-price border-left px-4">
                  <p class="wrapper">
                    <span class="time">{{ subService.duration }}</span>
                    <span class="text float-right">${{ subService.total }}</span>
                  </p>
                </div>
                <div fxFlex="20%" class="book-btn border-left pl-5" *ngIf="userInfo">
                  <a mat-button class="rounded-bt pink-b px-5" (click)="navigateToMakeBooking(subService.id)">Book
                    Now</a>
                </div>
              </div>
              <div class="details border-top pt-3">
                <p class="pb-2">
                  {{subService.description}}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="book-appointment" *ngIf="service.category__name == 'All' && service.services.length > 0">
        <div fxLayout="row" class="pt-4">
          <p class="heading">
            For All {{ service.services.length }}
            <span [appToggleSectionAccordian]="servicesForAll"
              class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span>
          </p>
        </div>

        <div fxLayout="row" class="similar-services pt-5">
          <div fxFlex="" class="mr-3" *ngFor="let shop of similarShops">
            <div class="card border">
              <div class="card-body p-0">
                <img class="main-img" src="{{ shop.shop_image }}">
                <h5 class="border-bottom text-center p-2">{{ shop.shopname }}</h5>
                <div class="rating border-bottom p-1 justify-content-center">
                  <app-star-rating [maxScore]="5" [score]="shop.rating_count" [forDisplay]="true"></app-star-rating>
                  <span class="star-text">{{ shop.tot_ratings }} Book Ratings</span>
                </div>
                <div class="location p-3 text-center">
                  <h4>{{ shop.place }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="20%" class="book-btn border-left pl-5" *ngIf="userInfo">
            <a mat-button class="rounded-bt pink-b px-5" (click)="navigateToMakeBooking(subService.id)">Book Now</a>
          </div>
        </div>
        <div class="details border-top pt-3">
          <p class="pb-2">
            {{shop.description}}
          </p>
        </div>
      </div>

    </div>
    <div *ngIf="!areServicesAvailable()" class="no-data" fxLayout="row">
      <h4>No services to show</h4>
    </div>
  </div>

</div>



<div class="our-works border-top" *ngIf="ourWorks && ourWorks.length > 0">
  <div class="container pt-5 pb-4">
    <div fxLayout="row" class="heading-bar">
      <h3 class="heading">Our Works</h3>
    </div>
    <div fxLayout="row" class="works-imgs w-100 pt-5">
      <div fxFlex="" class="work mr-3" *ngFor="let work of ourWorks">
        <img src="{{ work.image }}" height="250" width="250" />
        <div class="like-chip" (click)="updateLikes(work)">
          <span class="icon-like1 pr-2 heart active" *ngIf="work.is_liked"></span>
          <span class="icon-like1 pr-2 heart" *ngIf="!work.is_liked"></span>
          <span class="count-like">{{ work.total_likes_count }}</span>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="more-works-btn border-top pt-2">
      <a mat-button class="pink-text">See all works</a>
    </div>
  </div>
</div>

<!-- New Review Section -->
<div class="container py-5">
  <div fxLayout="row" class="heading-bar">
    <div fxFlex="70%">
      <h3 class="heading">
        Customer Reviews
        <span class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span>
      </h3>
    </div>
  </div>
  <mat-tab-group *ngIf="reviews && reviews.length > 0" selectedIndex="0" animationDuration="0ms" class="w-100">
    <mat-tab label="All Reviews">
      <div class="all-review-tab p-3" *ngFor="let review of reviews">
        <div fxLayout="row" class="border-bottom" *ngIf="!review.parent">
          <div fxFlex="90%" class="content-right-side ml-4">
            <div class="heading-row">
              <div fxFlex="60%" class="left-side">
                <h5>{{ review.title }}</h5>
              </div>
              <div fxFlex="40%" class="right-side text-right">
                <p class="date-rating">
                  <span class="name-date">{{ review.user_fullname }},
                    {{ review.pub_date | date }}</span>
                  <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="15px">
                  </app-star-rating>
                </p>
              </div>
            </div>
            <div class="answer-text pt-2">
              <p>{{ review.feedback }}</p>
            </div>
            <div class="img-section pt-4">
              <img *ngFor="let image of review.image" src="{{ image }}" />
            </div>
            <div class="comment-reply pt-2 pb-3">
              <a mat-button class="text-muted">Comment (Hire)</a>
              <a mat-button class="pink-text" (click)="reply(review.service, review.id)">Reply</a>
            </div>
          </div>
        </div>
        <!-- REPLY SECTION -->
        <div fxLayout="row" class="border-bottom">
          <div fxFlex="90%" class="content-right-side ml-4">
            <div class="reply-section border-top pt-4" *ngFor="let reply of findRepliesForReview(review.id, reviews)">
              <div class="reply p-3">
                <h6 class="user">
                  {{ reply.user_fullname }}
                  <span class="date pl-4">{{ reply.pub_date | date }}</span>
                </h6>
                <p class="text pt-3">{{ reply.feedback }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Newest Review">
      <div class="all-review-tab p-3" *ngFor="let review of newestReviews">
        <div fxLayout="row" class="border-bottom" *ngIf="!review.parent">
          <div fxFlex="90%" class="content-right-side ml-4">
            <div class="heading-row">
              <div fxFlex="60%" class="left-side">
                <h5>{{ review.title }}</h5>
              </div>
              <div fxFlex="40%" class="right-side text-right">
                <p class="date-rating">
                  <span class="name-date">{{ review.user_fullname }},
                    {{ review.pub_date | date }}</span>
                  <app-star-rating class="rate-stars" [maxScore]="5" [score]="4.0" [forDisplay]="true" size="15px">
                  </app-star-rating>
                </p>
              </div>
            </div>
            <div class="answer-text pt-2">
              <p>{{ review.feedback }}</p>
            </div>
            <div class="img-section pt-4">
              <img *ngFor="let image of review.image" src="{{ image }}" />
            </div>
            <div class="comment-reply pt-2 pb-3">
              <a mat-button class="text-muted">Comment (Hire)</a>
              <a mat-button class="pink-text" (click)="reply(review.service, review.id)">Reply</a>
            </div>
          </div>
        </div>
        <!-- REPLY SECTION -->
        <div fxLayout="row" class="border-bottom">
          <div fxFlex="90%" class="content-right-side ml-4">
            <div class="reply-section border-top pt-4" *ngFor="
                let reply of findRepliesForReview(review.id, newestReviews)
              ">
              <div class="reply p-3">
                <h6 class="user">
                  {{ reply.user_fullname }}
                  <span class="date pl-4">{{ reply.pub_date | date }}</span>
                </h6>
                <p class="text pt-3">{{ reply.feedback }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Need to Review">
      <div fxLayout="row" *ngFor="let service of servicesThatNeedReview" class="margin-bottom">
        <div fxflex="60">
          {{ service.title }}
        </div>
        <div fxflex="40">
          <a mat-button class="pink-b px-3 ml-3" (click)="writeReview(service.id)">Write Review</a>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="reviews.length == 0" class="no-data" fxLayout="row">
    <h4>No reviews to show</h4>
  </div>
</div>

<div class="similar-this border-top" *ngIf="similarShops">
  <div class="container py-5">
    <div fxLayout="row" class="heading-bar">
      <h3 class="heading">Similar to This</h3>
    </div>

    <section id="demos" class="mb-5">
      <div class="row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
          <app-booking-card [routerLink]="['/book-product', bestBooking.shopID]" class="slide" ngxSlickItem
            *ngFor="let bestBooking of similarShops; let i = index" [booking]="bestBooking">
          </app-booking-card>
        </ngx-slick-carousel>
      </div>
      <div *ngIf="!similarShops?.length" class="row">
        <h3>Sorry, no shops are available</h3>
      </div>
    </section>
  </div>
</div>

<div class="similar-products border-bottom pt-4" *ngIf="similarShops.length">
  <div class="container">
    <div fxLayout="row" class="heading pb-5">
      <h5>Similar to This fazi</h5>
    </div>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
      <app-booking-card [routerLink]="['/book-product', bestBooking.shopID]" class="slide" ngxSlickItem
        *ngFor="let bestBooking of similarShops; let i = index" [booking]="bestBooking">
      </app-booking-card>
    </ngx-slick-carousel>
  </div>
</div>