@import "../../../../styles.scss";

.home-cat-inner {
  width: 92%;
  height: 100%;
  border: solid 1px #e7e7e7;
  border-radius: 15px;
  .home-cat-title {
    * {
      vertical-align: middle;
      display: inline-block;
    }
    padding: 0 10px ;
    display: table;
    // height: 75px;
    // width: 74%;
    position: relative;

    img {
      position: absolute;
      left: 20px;
      top: 24px;
    }

    .cat-content {
      display: flex;
      align-items: center;
      height: 60px;
      font-size: 14px;
      .alt-img-cus {
        // position: absolute;
        left: 15px;
        top: 24px;
      }
    }
    h2 {
      font-size: 14px;
      margin-left: 15px;
      color: $black;
      font-family: "montserratmedium";
      display: table-cell;
      font-weight: 500;
      width: 96%;
      padding-right: 5px;
      // height: 74px;
    }
  }
}
.home-cat-links {
  border-top: solid 1px #E7E7E7;
  padding: 15px;
}
.home-cat-links a {
  display: block;
  text-decoration: none;
  color: $black;
  font-family: "montserratmedium";
  margin-bottom: 10px;
  font-size: 14px;
}
.home-cat-links a:hover {
  text-decoration: underline;
}
.home-cat-links a.see-all {
  color: #fb3b71;
}

.section-title {
  margin-bottom: 50px;
  color: $black;
}

.item-popular {
    border-radius: 12px;
    border: 1px solid #dddddd;
    padding: 5px 10px;
    margin: 12px 0 0 0;
}

::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
}