<!-- footer -->
<footer class="footer border-top">
  <div class="container">
      <div class="row">
          <div fxFlex="24%" class="col-md-2 float-left">
              <a routerLink="/" class="logo">
                  <img src="../../../../assets/img/SVG/Logo.svg">
              </a>
          </div>
          <div fxFlex="24%" class="col-md-2">
              <div class="links">
                  <ul>
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/marketplace">Marketplace</a></li>
                      <li><a href="javascript:void(0)">Booking</a></li>
                  </ul>
              </div>
          </div>
          <div fxFlex="34%" class="col-md-3">
              <div class="links">
                  <ul>
                      <li><a href="javascript:void(0)">Electronics</a></li>
                      <li><a href="javascript:void(0)">Home & Garden</a></li>
                      <li><a href="javascript:void(0)">Fashion</a></li>
                      <li><a href="javascript:void(0)">Auto parts & Accesories</a></li>
                      <li><a href="javascript:void(0)">Musical instruments & Gear</a></li>
                      <li><a href="javascript:void(0)">Sports Goods</a></li>
                      <li><a href="javascript:void(0)">Toys & Hobbies</a></li>
                      <li><a href="javascript:void(0)">Other Categories</a></li>
                  </ul>
              </div>
          </div>
          <div fxFlex="24%" class="col-md-2">
              <div class="links">
                  <ul>
                      <li><a routerLink="/about/philosophy">Philosophy</a></li>
                      <li><a routerLink="/about/terms-of-use">Terms of use & Privacy policy</a></li>
                      <li><a routerLink="/about/solutions">Solutions</a></li>
                      <li><a routerLink="/about/blog">Blog</a></li>
                      <li><a routerLink="/about/faq">FAQ</a></li>
                      <li><a routerLink="/about/help-center">Help center</a></li>
                      <li><a routerLink="/about/contact-us">Contact us</a></li>
                  </ul>
              </div>
          </div>
          <div fxFlex="33%" class="col-md-3 text-center">
              <h6 class="heading font-weight-bold pb-2">Subscribe to our news</h6>
              <div class="email pt-2 pb-1">
                  <input class="email d-block py-2" type="text" placeholder="Email@mail.com">
              </div>
              <div class="subs-btn pt-1">
                  <a href="#" class="btn pink-b py-2 rounded-bt d-block">Subscribe</a>
              </div>
          </div>
      </div>
  </div>
</footer>