

<mat-card class="help-detail p-4">
    <div class="container">

        <div fxLayout="row" class="pb-4">
            <h4 class="w-100 text-center">Hello, how we can help you</h4>
        </div>

        <div fxLayout="row" class="text pb-4">
            <p class="w-100 text-center">Search for a question, or choose topic</p>
        </div>

        <div fxLayout="row" class="pb-5">
            <div class="search position-relative">
                <img src="../../../../assets/img/SVG hp-m/search.svg">
                <input type="text" placeholder="Search for a topic or question">
            </div>
        </div>

        <div fxLayout="row" class="pt-5 pb-5 border-bottom">

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG hp-m/volleyball.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-product/sent-mail.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-hp/startup-acrive.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-product/Subtraction 7.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

        </div>

        <div fxLayout="row" class="pt-5 pb-5">

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG hp-m/volleyball.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-product/sent-mail.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-hp/startup-acrive.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

            <div fxFlex="25%">
                <div class="inner mx-2">
                    <img class="pb-2" src="../../../../../assets/img/SVG-product/Subtraction 7.svg">
                    <h5 class="pb-3">Lourem Ipsm</h5>
                    <p class="pb-3">Lorem Ipsum is simply dummy text, Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is simply</p>
                    <p class="pb-3">Lorem Ipsum is the simply ?</p>
                    <a class="pink-text" href="#">View All</a>
                </div>
            </div>

        </div>

    </div>
</mat-card>