<div class="desktop-widgets-saved-searches p-3 mt-4">
    <div fxLayout="row" class="top-bar pb-2 border-bottom">
        <div fxFlex="70%" class="heading">
            <p>My saved searches</p>
        </div>

        <div fxFlex="30%" class="more-btn text-right">
            <a>
                <img src="../../../../../../../assets/img/circlebtns.png">
            </a>
        </div>
    </div>

    <div class="saved-bars">
        <div class="fields-scroll pr-2">
            <div class="saved-field py-3 border-bottom">
                <div class="heading">
                    <div fxFlex="80%">
                        <p>Running Track Energy FIT 815</p>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                    </div>
                </div>

                <div class="categories pt-2">
                    <div fxFlex="50%">
                        <span class="silver pr-3">Category</span>
                        <span class="black">Electronics</span>
                    </div>
                    <div fxFlex="50%">
                        <span class="silver pr-3">Subcategory</span>
                        <span class="black">Fitness</span>
                    </div>
                </div>

                <div class="read-more pt-3">
                    <a>More</a>
                </div>
            </div>

            <div class="saved-field py-3 border-bottom">
                <div class="heading">
                    <div fxFlex="80%">
                        <p>Leather Feltcase for 9,7' tablet</p>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                    </div>
                </div>

                <div class="categories pt-2">
                    <div fxFlex="50%">
                        <span class="silver pr-3">Category</span>
                        <span class="black">Electronics</span>
                    </div>
                    <div fxFlex="50%">
                        <span class="silver pr-3">Subcategory</span>
                        <span class="black">Tablet</span>
                    </div>
                </div>

                <div class="read-more pt-3">
                    <a>More</a>
                </div>
            </div>

            <div class="saved-field py-3 border-bottom">
                <div class="heading">
                    <div fxFlex="80%">
                        <p>Smart Watch - GOGPS K20</p>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                    </div>
                </div>

                <div class="categories pt-2">
                    <div fxFlex="50%">
                        <span class="silver pr-3">Category</span>
                        <span class="black">Electronics</span>
                    </div>
                    <div fxFlex="50%">
                        <!-- <span class="silver pr-3">Subcategory</span>
                        <span class="black">Fitness</span> -->
                    </div>
                </div>

                <div class="read-more pt-3">
                    <a>More</a>
                </div>
            </div>

            <div class="saved-field py-3 border-bottom">
                <div class="heading">
                    <div fxFlex="80%">
                        <p>Akura Rice for sushi 1 kg</p>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                    </div>
                </div>

                <!-- <div class="categories pt-2">
                    <div fxFlex="50%">
                        <span class="silver pr-3">Category</span>
                        <span class="black">Electronics</span>
                    </div>
                    <div fxFlex="50%">
                        <span class="silver pr-3">Subcategory</span>
                        <span class="black">Fitness</span>
                    </div>
                </div> -->

                <!-- <div class="read-more pt-3">
                    <a>More</a>
                </div> -->
            </div>

            <div class="saved-field py-3 border-bottom">
                <div class="heading">
                    <div fxFlex="80%">
                        <p>Running Track Energy FIT 815</p>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <img src="../../../../../../../assets/img/baseline-remove_circle_outline-24px.png">
                    </div>
                </div>

                <div class="categories pt-2">
                    <div fxFlex="50%">
                        <span class="silver pr-3">Category</span>
                        <span class="black">Electronics</span>
                    </div>
                    <div fxFlex="50%">
                        <span class="silver pr-3">Subcategory</span>
                        <span class="black">Fitness</span>
                    </div>
                </div>

                <div class="read-more pt-3">
                    <a>More</a>
                </div>
            </div>
        </div>

        <div class="view-btn pt-2">
            <a mat-button class="pink-text text-center d-block">View all</a>
        </div>
    </div>
</div>