@import '../../../../../../styles.scss';

.home-cat-cont {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  justify-content: space-between;
  // float: left;
  margin-bottom: 30px;
  }
app-category-card{
  margin-bottom: 30px;
}
.section-title {
  margin-bottom: 50px;
  color: $black;
}

@media(max-width: 1270px){
  .home-cat-cont{
    grid-template-columns: 23% 23% 23% 23%;
  }
}
@media(max-width: 1000px){
  .home-cat-cont{
    grid-template-columns: 32% 32% 32%;
  }
}
