<div class="booking">
    <div fxLayout="row" class="search-bar mt-4">
        <input type="text" placeholder="Search Item">
        <span class="icon-search-1"></span>
    </div>
    
    <div class="booking-field" *ngFor="let item of bookingData">
        <div fxLayout="row" class="heading pt-5">
            <p>{{item.name}} ({{item.services.length}}) <span class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span></p>
        </div>

        <div class="field border-bottom pt-4 pb-2" *ngFor="let service of item.services">
            <div fxLayout="row" class="border-bottom pb-2">
                <div fxFlex="60%" class="product-heading">
                    <h6 class="pb-2">{{service.service_name}}</h6>
                    <app-star-rating [maxScore]="5" [score]="service.rating_data.avg_rating" [forDisplay]="true"></app-star-rating>
                    <span class="star-text pl-3">{{service.rating_data.avg_rating}} Book Ratings</span>
                </div>
                <div fxFlex="20%" class="time-price">
                    <p class="wrapper">
                        <span class="time">{{service.duration}}</span>
                        <span class="text float-right">${{service.total}}</span>
                    </p>
                </div>
                <div fxFlex="20%" class="right-edit text-right">
                    <a class="edit">
                        <img src="../../../../../../assets/img/writing-public.png">
                    </a>
                    <a>
                        <span class="icon-baseline-close-24px-12"></span>
                    </a>
                </div>
            </div>
            <div class="details pt-2">
                <p class="pb-2">{{service.description}}</p>
                <!-- <a mat-button class="pink-text">Read Less</a> -->
            </div>
        </div>
        <div *ngIf="item.services == 0">
            <p class="text-muted pt-3">No Services Found</p>
        </div>
    </div>
</div>