@import '../../../../../../../styles.scss';

.desktop-dashboard-profile-rewards {

    .rewards-points-level {
        .points {
            border-radius: 10px;
            background-color: $white;
            .heading {
                h6 {
                    color: $black;
                    font-size: 16px;
                }
            }
        }

        .levels {
            border-radius: 10px;
            background-color: $white;
            .heading {
                h6 {
                    color: $black;
                    font-size: 16px;
                }
            }

            .level-sections {
                img {
                    width: 120px;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                }
                p {
                    &.level {
                        color: $black;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    &.pink-price {
                        color: $pink;
                        font-size: 22px;
                    }
                    &.reward {
                        color: $dark-gray;
                        font-size: 12px;
                    }
                    &.black-price {
                        color: $black;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .reward-tasks {
        .heading {
            h2 {
                font-size: 20px;
                color: $dark-gray;
            }
        }

        .rewards-points {
            border-radius: 10px;
            background-color: $white;
            .reward-point-card {
                background-color: $black;
                position: relative;
                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0.7;
                }

                .label-points {
                    position: absolute;
                    top: 45%;
                    text-align: center;
                    span {
                        font-size: 13px;
                        color: $white;
                    }
                    p {
                        display: block;
                        margin: 20% auto auto auto;
                        &.pink {
                            border-radius: 5px;
                            padding: 5px 10px;
                            width: 75px;
                            color: $white;
                            background-color: $pink;
                            font-size: 13px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}