<div class="desktop-dashboard-profile-rewards">
    <div fxLayout="row" class="rewards-points-level mt-5">
        <div fxFlex="30%" class="points p-3 mr-4">
            <div class="heading border-bottom pb-3">
                <h6>Reward Points</h6>
            </div>
            <div class="p-3">
                <app-reward-points></app-reward-points>
            </div>
        </div>
        <div fxFlex="70%" class="levels p-3">
            <div class="heading border-bottom pb-3">
                <h6>Reward Levels</h6>
            </div>
            <div fxLayout="row" class="level-sections">
                <div fxFlex="33.3%">
                    <div class="text-center mt-5">
                        <img src="../../../../../../../assets/img/pig.png">
                        <p class="level border-right pt-5">Level 1</p>
                        <p class="pink-price border-right pt-3">2,000 - 3,900</p>
                        <p class="reward pt-2">Reward Points</p>
                        <p class="black-price py-3">$20.00</p>
                    </div>
                </div>
                <div fxFlex="33.3%">
                    <div class="text-center mt-5">
                        <img src="../../../../../../../assets/img/pig2.png">
                        <p class="level border-right pt-5">Level 2</p>
                        <p class="pink-price border-right pt-3">4,000 - 5,900</p>
                        <p class="reward pt-2">Reward Points</p>
                        <p class="black-price py-3">$40.00</p>
                    </div>
                </div>
                <div fxFlex="33.3%">
                    <div class="text-center mt-5">
                        <img src="../../../../../../../assets/img/pig3.png">
                        <p class="level pt-5">Level 3</p>
                        <p class="pink-price pt-3">6,000 or More</p>
                        <p class="reward pt-2">Reward Points</p>
                        <p class="black-price py-3">$60.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reward-tasks mt-5">
        <div fxLayout="row" class="heading">
            <h2>Reward Tasks</h2>
        </div>

        <div class="rewards-points mt-4 p-3">
            <div fxLayout="row" class="img-points">
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/159.png">

                        <div class="label-points w-100">
                            <span class="px-3">Tweet the Elephant Boxes</span>
                            <p class="pink">10 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/159.png">

                        <div class="label-points w-100">
                            <span class="px-3">Follow to Ricardo Shop</span>
                            <p class="pink">3 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/banner2.png">

                        <div class="label-points w-100">
                            <span class="px-3">Repost Good in Facebook</span>
                            <p class="pink">5 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/notebook2.png">

                        <div class="label-points w-100">
                            <span class="px-3">Buy Macbook PRO</span>
                            <p class="pink">300 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/rat-rew-img3.png">

                        <div class="label-points w-100">
                            <span class="px-3">Buy Stuff MacBook Pro</span>
                            <p class="pink">10 Points</p>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row" class="img-points mt-4">
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/159.png">

                        <div class="label-points w-100">
                            <span class="px-3">Tweet the Elephant Boxes</span>
                            <p class="pink">10 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/159.png">

                        <div class="label-points w-100">
                            <span class="px-3">Follow to Ricardo Shop</span>
                            <p class="pink">3 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/banner2.png">

                        <div class="label-points w-100">
                            <span class="px-3">Repost Good in Facebook</span>
                            <p class="pink">5 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%" class="mr-3">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/notebook2.png">

                        <div class="label-points w-100">
                            <span class="px-3">Buy Macbook PRO</span>
                            <p class="pink">300 Points</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="20%">
                    <div class="reward-point-card">
                        <img src="../../../../../../../assets/img/rat-rew-img3.png">

                        <div class="label-points w-100">
                            <span class="px-3">Buy Stuff MacBook Pro</span>
                            <p class="pink">10 Points</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>