<div class="booking-filter-modal">
    <div fxLayout="row" class="heading justify-content-center">
        <h6>Filter</h6>
    </div>

    <div class="bootom-section mt-4">
        <div fxFlex="25%" class="section mr-5">
            <p class="heading">Section</p>

            <div class="field pt-3">
                <mat-checkbox>GShock</mat-checkbox> <span>32</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Casio</mat-checkbox> <span>23</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Hublot</mat-checkbox> <span>06</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Daniel Clein</mat-checkbox> <span>21</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Orient</mat-checkbox> <span>78</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Rolex</mat-checkbox> <span>96</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Tissot</mat-checkbox> <span>54</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>TimeX</mat-checkbox> <span>12</span>
            </div>
        </div>

        <div fxFlex="25%" class="material mr-5">
            <p class="heading">Material</p>

            <div class="field pt-3">
                <mat-checkbox>Metal</mat-checkbox> <span>30</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>Plastic</mat-checkbox> <span>01</span>
            </div>

            <p class="heading pt-4">Type</p>
            <div class="field pt-3">
                <mat-checkbox>For Man</mat-checkbox> <span>23</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>For Woman</mat-checkbox> <span>84</span>
            </div>

            <p class="heading pt-4">Type</p>
            <div class="field pt-3">
                <mat-checkbox>For Man</mat-checkbox> <span>70</span>
            </div>
            <div class="field pt-3">
                <mat-checkbox>For Woman</mat-checkbox> <span>09</span>
            </div>
        </div>

        <div fxFlex="25%" class="price mr-5">
            <p class="heading">Price</p>

            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>
                      From: <span>93</span>
                    </p>
                </div>
                <div fxFlex="50%" class="text-right">
                    <p>
                      To: <span>976</span>
                    </p>
                </div>
            </div>
            <div class="price-bar mt-3">
                <mat-slider class="w-100"></mat-slider>
            </div>

            <div class="pt-3">
                <mat-form-field class="w-100">
                  <mat-label>Location</mat-label>
                  <mat-select>
                    <mat-option value="option1">Ukarine</mat-option>
                    <mat-option value="option2">Location 2</mat-option>
                    <mat-option value="option3">Location 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div class="pt-1">
                <mat-form-field class="w-100">
                  <mat-label>Section</mat-label>
                  <mat-select>
                    <mat-option value="option1">Section</mat-option>
                    <mat-option value="option2">Section</mat-option>
                    <mat-option value="option3">Section</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div class="pt-1">
                <mat-form-field class="w-100">
                  <mat-label>Section</mat-label>
                  <mat-select>
                    <mat-option value="option1">Section</mat-option>
                    <mat-option value="option2">Section</mat-option>
                    <mat-option value="option3">Section</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxFlex="25%" class="section">
            <p class="heading">Section</p>

            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="justify-content-center mt-5">
        <a mat-button class="pink-b rounded-bt p-0 btn-block w-50">Apply Changes Booking v</a>
    </div>
</div>