<div class="booking-filter-modal">
    <div fxLayout="row" class="heading justify-content-center">
        <h6>Filter</h6>
    </div>

    <div class="bootom-section mt-4">
        <div fxFlex="25%" class="section mr-5">
            <p class="heading">Section</p>

            <div class="field pt-3">
                <mat-checkbox (change)="onGShock($event)" [(checked)]="selectedFilter.gShock">
                    GShock
                </mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onCasio($event)" [(checked)]="selectedFilter.casio">Casio</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onHublot($event)" [(checked)]="selectedFilter.gShock">Hublot</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onDanielClein($event)" [(checked)]="selectedFilter.danielClein">Daniel Clein</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onOrient($event)" [(checked)]="selectedFilter.orient">Orient</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onRolex($event)" [(checked)]="selectedFilter.rolex">Rolex</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onTissot($event)" [(checked)]="selectedFilter.tissot">Tissot</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onTimeX($event)" [(checked)]="selectedFilter.timeX">TimeX</mat-checkbox>
            </div>
        </div>

        <div fxFlex="25%" class="material mr-5">
            <p class="heading">Material</p>

            <div class="field pt-3">
                <mat-checkbox (change)="onMetal($event)" [(checked)]="selectedFilter.metal">Metal</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onPlastic($event)" [(checked)]="selectedFilter.plastic">Plastic</mat-checkbox>
            </div>

            <p class="heading pt-4">Type</p>
            <div class="field pt-3">
                <mat-checkbox (change)="onMan($event)" [(checked)]="selectedFilter.forMan">For Man</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox (change)="onWoman($event)" [(checked)]="selectedFilter.forWoman">For Woman</mat-checkbox>
            </div>

            <!-- <p class="heading pt-4">Type</p>
            <div class="field pt-3">
                <mat-checkbox>For Man</mat-checkbox>
            </div>
            <div class="field pt-3">
                <mat-checkbox>For Woman</mat-checkbox> 
            </div> -->
        </div>

        <div fxFlex="25%" class="price mr-5">
            <p class="heading">Price</p>

            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>
                        From: <span>{{ selectedFilter.price_range.min }}</span>
                    </p>
                </div>
                <div fxFlex="50%" class="text-right">
                    <p>
                        To: <span>{{ selectedFilter.price_range.max }}</span>
                    </p>
                </div>
            </div>
            <div fxLayout="row">
                <ng5-slider [(value)]="selectedFilter.price_range.min" [(highValue)]="selectedFilter.price_range.max"
                    [options]="{
                    floor: 0,
                    ceil: 100000,
                    hideLimitLabels: true,
                    hidePointerLabels: true
                  }"></ng5-slider>
            </div>

            <div class="pt-3">
                <mat-form-field class="w-100">
                    <mat-label>Location</mat-label>
                    <mat-select>
                        <mat-option value="Ukarine">Ukarine</mat-option>
                        <!-- <mat-option value="option2">Location 2</mat-option> -->
                        <!-- <mat-option value="option3">Location 3</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- <div class="pt-1">
                <mat-form-field class="w-100">
                  <mat-label>Section</mat-label>
                  <mat-select>
                    <mat-option value="option1">Section</mat-option>
                    <mat-option value="option2">Section</mat-option>
                    <mat-option value="option3">Section</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div class="pt-1">
                <mat-form-field class="w-100">
                  <mat-label>Section</mat-label>
                  <mat-select>
                    <mat-option value="option1">Section</mat-option>
                    <mat-option value="option2">Section</mat-option>
                    <mat-option value="option3">Section</mat-option>
                  </mat-select>
                </mat-form-field>
            </div> -->
        </div>

        <!-- <div fxFlex="25%" class="section">
            <p class="heading">Section</p>

            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div class="field pt-3">
                <div fxFlex="50%">
                    <p>Section</p> 
                </div>
                <div fxFlex="50%" class="text-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </div> -->
    </div>

    <div fxLayout="row" class="justify-content-center mt-5">
        <a mat-button class="pink-b rounded-bt p-0 btn-block w-50"   (click)="applyChanges()"
        >Apply Changes Booking v</a>
    </div>
</div>