<div fxLayout="row" class="desktop-dashboard-widgets">
    <div fxFlex="32%" class="mt-4 mr-4">
        <app-widgets-profile dragula="bag-one" class="m-3"></app-widgets-profile>
        <app-widgets-donate-pot dragula="bag-one" class="m-3"></app-widgets-donate-pot>
        <app-widgets-open-items dragula="bag-one" class="m-3"></app-widgets-open-items>
        <app-widgets-news dragula="bag-one" class="m-3"></app-widgets-news>
        <app-widgets-my-shops dragula="bag-one" class="m-3"></app-widgets-my-shops>
        <app-widgets-fees-to-pay dragula="bag-one" class="m-3"></app-widgets-fees-to-pay>
        <app-widgets-my-favorite dragula="bag-one" class="m-3"></app-widgets-my-favorite>
    </div>
    <div fxFlex="32%" class="mt-4 mr-4">
        <app-widgets-reward-points dragula="bag-one" class="m-3"></app-widgets-reward-points>
        <app-widgets-my-sale dragula="bag-one" class="m-3"></app-widgets-my-sale>
        <app-widgets-open-booking dragula="bag-one" class="m-3"></app-widgets-open-booking>
        <app-widgets-saved-searches dragula="bag-one" class="m-3"></app-widgets-saved-searches>
        <app-widgets-next-appointment dragula="bag-one" class="m-3"></app-widgets-next-appointment>
        <app-widgets-communication dragula="bag-one" class="m-3"></app-widgets-communication>
    </div>
    <div fxFlex="32%" class="mt-4">
        <app-widgets-quick-settings dragula="bag-one" class="m-3"></app-widgets-quick-settings>
        <app-widgets-public-profile dragula="bag-one" class="m-3"></app-widgets-public-profile>
        <app-widgets-open-deals dragula="bag-one" class="m-3"></app-widgets-open-deals>
        <app-widgets-favorite-business dragula="bag-one" class="m-3"></app-widgets-favorite-business>
        <app-widgets-reviews dragula="bag-one" class="m-3"></app-widgets-reviews>
    </div>
</div>