<div class=" desktop-dashboard-widgets mt-4" >
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <app-widgets-profile dragula="bag-one"></app-widgets-profile>
            <app-widgets-donate-pot dragula="bag-one"></app-widgets-donate-pot>
            <app-widgets-open-items dragula="bag-one"></app-widgets-open-items>
            <app-widgets-news dragula="bag-one"></app-widgets-news>
            <app-widgets-my-shops dragula="bag-one"></app-widgets-my-shops>
            <app-widgets-fees-to-pay dragula="bag-one"></app-widgets-fees-to-pay>
            <app-widgets-my-favorite dragula="bag-one"></app-widgets-my-favorite>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-widgets-reward-points dragula="bag-one"></app-widgets-reward-points>
            <app-widgets-my-sale dragula="bag-one"></app-widgets-my-sale>
            <app-widgets-open-booking dragula="bag-one"></app-widgets-open-booking>
            <app-widgets-saved-searches dragula="bag-one"></app-widgets-saved-searches>
            <app-widgets-next-appointment dragula="bag-one"></app-widgets-next-appointment>
            <app-widgets-communication dragula="bag-one"></app-widgets-communication>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-widgets-quick-settings dragula="bag-one"></app-widgets-quick-settings>
            <app-widgets-public-profile dragula="bag-one"></app-widgets-public-profile>
            <!-- <app-widgets-open-deals dragula="bag-one"></app-widgets-open-deals> -->
            <app-widgets-favorite-business dragula="bag-one"></app-widgets-favorite-business>
            <app-widgets-reviews dragula="bag-one"></app-widgets-reviews>
        </div>
    </div>
</div>