

<mat-card class="blog p-5">
    <div class="container">
        <div fxLayout="row" class="w-100">
            <h4>Blog</h4>
        </div>
   
        <div fxLayout="row" class="border-bottom py-4">
            <div fxFlex="33.3%" class="mx-3">
                <div class="img">
                    <img src="../../../assets/img/SVG-hp/blog.png">
                </div>
            </div>
            <div fxFlex="66.6%" class="mx-3">
                <div class="content">
                    <h5 class="pb-3">Yes but if you Pixel perfect screen</h5>
                    <p class="pb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 y</p>
                    <a class="pink-text" routerLink="detail">Read more</a>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="border-bottom py-4">
            <div fxFlex="33.3%"  class="mx-3">
                <div class="img">
                    <img src="../../../assets/img/SVG-hp/blog.png">
                </div>
            </div>
            <div fxFlex="66.6%" class="pl-0 mx-3">
                <div class="content">
                    <h5 class="pb-3">Yes but if you Pixel perfect screen</h5>
                    <p class="pb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 y</p>
                    <a class="pink-text" routerLink="detail">Read more</a>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="border-bottom py-4">
            <div fxFlex="33.3%" class="mx-3">
                <div class="img">
                    <img src="../../../assets/img/SVG-hp/blog.png">
                </div>
            </div>
            <div fxFlex="66.6%" class="pl-0 mx-3">
                <div class="content">
                    <h5 class="pb-3">Yes but if you Pixel perfect screen</h5>
                    <p class="pb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 y</p>
                    <a class="pink-text" routerLink="detail">Read more</a>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="border-bottom py-4">
            <div fxFlex="33.3%" class="mx-3">
                <div class="img">
                    <img src="../../../assets/img/SVG-hp/blog.png">
                </div>
            </div>
            <div fxFlex="66.6%" class="pl-0 mx-3">
                <div class="content">
                    <h5 class="pb-3">Yes but if you Pixel perfect screen</h5>
                    <p class="pb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 y</p>
                    <a class="pink-text" routerLink="detail">Read more</a>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="py-4">
            <div fxFlex="33.3%" class="mx-3">
                <div class="img">
                    <img src="../../../assets/img/SVG-hp/blog.png">
                </div>
            </div>
            <div fxFlex="66.6%" class="pl-0 mx-3">
                <div class="content">
                    <h5 class="pb-3">Yes but if you Pixel perfect screen</h5>
                    <p class="pb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 y</p>
                    <a class="pink-text" routerLink="detail">Read more</a>
                </div>
            </div>
        </div>

        
    </div>
</mat-card>