

<mat-card class="blog p-4">
    <div class="container">
        <div fxLayout="row" class="text pb-4 w-100">
            <p>Blog > <span class="pink-text">Yes but if you Pixel perfect screen</span></p>
        </div>

        <div fxLayout="row" class="pb-4 w-100">
            <h5>Yes but if you Pixel perfect screen</h5>
        </div>
   
        <div fxLayout="row" class="w-100">
            <img src="../../../assets/img/SVG-hp/blog.png">
        </div>

        <div fxLayout="row" class="pt-4 w-100">
            <div class="content">
                <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 lar belief, Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 lar belief,Lorem Ipsum is not simply random text. lar belief, Lorem Ipsum is not simply.</p>
                <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 lar belief making it over 2000 lar belief. Contrary to popular belief, Lorem Ipsum is not simplyLatin literature from 45 BC, making it over 2000 lar belief, Lorem Ipsum is not simply random text. lar belief, Lorem Ipsum is not simply random text.lar belief.</p>
                <h6 class="mb-3">Yes but if you Pixel perfect screen</h6>
                <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 lar belief making it over 2000 lar belief. Contrary to popular belief, Lorem Ipsum is not simplyLatin literature from 45 BC, making it over 2000 lar belief, Lorem Ipsum is not simply random text. lar belief, Lorem Ipsum is not simply random text.lar belief.</p>
            </div>
        </div> 
    </div>
</mat-card>