<div class="desktop-dashboard-booking-private" *ngIf="currentHistory">
    <div class="container">
        <div class="top-header-bar mt-4">
            <div class="row">
                <div class="col-lg-6 xs-mb-20">
                    <div class="left-side">
                        <span>Booking</span>
                        <a mat-button class="pink-b rounded-bt py-0 px-3">Select Plan</a>
                        <p class="date">{{today | date: 'fullDate'}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-side text-right">
                        <a mat-button class="white-b rounded-bt px-5 mr-4">Back to Home</a>
                        <a mat-button class="pink-b rounded-bt px-5">Back a Visit</a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="datedHistory" class="calendar-section xs-mb-20 mt-4">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="calendar p-3 ">
                        <mat-calendar #calendar color="primary" (selectedChange)="dateChanged($event)"
                            [(selected)]="privateSelectedDate"></mat-calendar>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="calendar-fields p-3">
                        <div fxLayout="row" class="heading-bar pb-3 border-bottom">
                            <div fxFlex="50%" class="date">
                                <p>{{today | date}}</p>
                            </div>

                            <div fxFlex="50%" class="visit text-right">
                                <p>{{datedHistory.count}} Visits</p>
                            </div>
                        </div>

                        <div class="fields-scroll pr-3 mt-3">
                            <div fxLayout="row" class="category-field p-2" *ngFor="let item of datedHistory.results">
                                <div fxFlex="70%" class="service">
                                    <p class="pb-2">{{item.service_name}}</p>
                                    <div class="shop-icon">
                                        <span class="icon-commercial"></span>
                                        <span class="text">{{item.service_shop_name}}</span>
                                    </div>
                                </div>
                                <div fxFlex="25%" class="amount text-right pr-3">
                                    <p class="price">${{item.price}}</p>
                                    <p class="time pt-2">{{item.to_time}} - {{item.from_time}}</p>
                                </div>
                                <div fxFlex="5%" class="edit text-center ml-3">
                                    <a>
                                        <img src="../../../../../../../assets/img/writing-public.png">
                                    </a>
                                </div>
                            </div>

                            <div *ngIf="datedHistory.results.length == 0">
                                <h4>No Results Found For {{today | date}}</h4>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class=" right-section">
                        <div id="example-calendar1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history p-3 mt-4">
            <div class="row heading-bar border-bottom">
                <div class="col-lg-4 mb-2">
                    <div class="left-side">
                        <p>History</p>
                    </div>
                </div>
                <div class="col-lg-8 ">
                    <div class="float-right">
                        <div class="tabs ">
                            <div>
                                <ul>
                                    <li [ngClass]="{'active': cancel == false && finish == false }"><a
                                            (click)='allHistory()'>All</a></li>
                                    <li [ngClass]="{'active': cancel == false && finish == true }"><a
                                            (click)='finishHistory()'>Completed</a></li>
                                    <li [ngClass]="{'active': cancel == true && finish == false }"><a
                                            (click)='cancelHistory()'>Cancelled</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields-scroll px-1">
                <div class="category-field p-3 mt-3" *ngFor="let item of currentHistory.results">
                    <div fxLayout="row">
                        <div fxFlex="70%" class="service">
                            <p class="pb-2">{{item.service_name}}</p>
                            <div class="shop-icon">
                                <span class="icon-commercial"></span>
                                <span class="text">{{item.service_shop_name}}</span>
                            </div>
                            <div class="star-rating">
                                <app-star-rating [maxScore]="5" [score]="item.service_rating" [forDisplay]="true">
                                </app-star-rating>
                            </div>
                            <div class="write-btn">
                                <a class="ml-3">Write Review</a>
                            </div>
                        </div>
                        <div fxFlex="30%" class="amount text-right">
                            <p class="price">${{item.price}}</p>
                            <p class="time pt-2">{{item.book_date | date}} {{item.to_time}} - {{item.from_time}}</p>
                            <p class="status pt-2">Completed</p>
                        </div>
                    </div>

                    <!-- <div class="content pt-3 mt-3 border-top">
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div> -->

                    <div *ngIf="currentHistory.results.length == 0">
                        <h4>No Results Found</h4>
                    </div>
                </div>

                <div *ngIf="currentHistory.results.length == 0">
                    <h4 class="pt-3">No Results Found For History</h4>
                </div>
            </div>

        </div>
    </div>
</div>