<div class="add-service-modal">
    <div class="container">
        <div fxLayout="row" class=" pb-4 justify-content-center border-bottom">
            <h5 class="heading position-relative" [ngClass]="{ 'bordered-header': dialogData.type == 'border' }">
                {{dialogData.title}}</h5>
        </div>
    </div>
    <div class="booking-fields " *ngIf="services">
        <div class="row " *ngFor="let service of services">
            <div class="col-lg-7 col-12">
                <div class="heading p-3">
                    <h6 class="pb-2">{{ service.service_name }}</h6>
                    <app-star-rating [maxScore]="5" [score]="service.avg_rating" [forDisplay]="true"></app-star-rating>
                    <span class="star-text pl-3">{{ service.rating_count }} Book Ratings</span>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="time-price pt-3 pb-3 text-center">
                    <p class="wrapper">
                        <span class="time">{{ service.duration }}</span>
                        <span class="text float-right">${{ service.total }}</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="book-btn border-left pt-3 pb-3 text-center">
                    <a mat-button class="rounded-bt pink-b px-5" (click)="bookService(service)">Book Now</a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="alrtNoRecord" *ngIf="services.length==0"> There is no serive avalibe for this shope</h3>
</div>