<div class="deals">
    <div fxLayout="row" class="search-bar mt-4">
        <input type="text" placeholder="Search Item">
        <span class="icon-search-1"></span>
    </div>

    <div fxLayout="row" class="deal-card border-bottom py-4">
        <div fxFlex="20%" class="left-section mr-3">
            <div class="product-img">
                <img src="../../../../../../assets/img/Rectangle Copy.png">
            </div>
        </div>

        <div fxFlex="50%" class="center-section ml-2">
            <div class="heading-rating">
                <h6 class="pb-2">Running Track EnergyFit 815</h6>
                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating>
                <span class="star-text pl-2">2 Book Ratings</span>
            </div>

            <div fxLayout="row" class="product-brief pt-1">
                <div fxFlex="70%">
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Standard Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$395</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Love on</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$206</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Deal Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="pink-text">$330</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="30%"></div>
            </div>
        </div>

        <div fxFlex="10%">
            <div class="discount-off">
                <p>10% Off</p>
            </div>
        </div>

        <div fxFlex="20%" class="text-center">
            <div class="edit-close">
                <a class="edit">
                    <img src="../../../../../../assets/img/writing-public.png">
                </a>
                <a>
                    <span class="icon-baseline-close-24px-12"></span>
                </a>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="deal-card border-bottom py-4">
        <div fxFlex="20%" class="left-section mr-3">
            <div class="product-img">
                <img src="../../../../../../assets/img/Rectangle Copy.png">
            </div>
        </div>

        <div fxFlex="50%" class="center-section ml-2">
            <div class="heading-rating">
                <h6 class="pb-2">Running Track EnergyFit 815</h6>
                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating>
                <span class="star-text pl-2">2 Book Ratings</span>
            </div>

            <div fxLayout="row" class="product-brief pt-1">
                <div fxFlex="70%">
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Standard Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$395</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Love on</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$206</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Deal Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="pink-text">$330</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="30%"></div>
            </div>
        </div>

        <div fxFlex="10%">
            <div class="discount-off">
                <p>10% Off</p>
            </div>
        </div>

        <div fxFlex="20%" class="text-center">
            <div class="edit-close">
                <a class="edit">
                    <img src="../../../../../../assets/img/writing-public.png">
                </a>
                <a>
                    <span class="icon-baseline-close-24px-12"></span>
                </a>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="deal-card border-bottom py-4">
        <div fxFlex="20%" class="left-section mr-3">
            <div class="product-img">
                <img src="../../../../../../assets/img/Rectangle Copy.png">
            </div>
        </div>

        <div fxFlex="50%" class="center-section ml-2">
            <div class="heading-rating">
                <h6 class="pb-2">Running Track EnergyFit 815</h6>
                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating>
                <span class="star-text pl-2">2 Book Ratings</span>
            </div>

            <div fxLayout="row" class="product-brief pt-1">
                <div fxFlex="70%">
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Standard Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$395</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Love on</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$206</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Deal Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="pink-text">$330</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="30%"></div>
            </div>
        </div>

        <div fxFlex="10%">
            <div class="discount-off">
                <p>10% Off</p>
            </div>
        </div>

        <div fxFlex="20%" class="text-center">
            <div class="edit-close">
                <a class="edit">
                    <img src="../../../../../../assets/img/writing-public.png">
                </a>
                <a>
                    <span class="icon-baseline-close-24px-12"></span>
                </a>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="deal-card pt-4">
        <div fxFlex="20%" class="left-section mr-3">
            <div class="product-img">
                <img src="../../../../../../assets/img/Rectangle Copy.png">
            </div>
        </div>

        <div fxFlex="50%" class="center-section ml-2">
            <div class="heading-rating">
                <h6 class="pb-2">Running Track EnergyFit 815</h6>
                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating>
                <span class="star-text pl-2">2 Book Ratings</span>
            </div>

            <div fxLayout="row" class="product-brief pt-1">
                <div fxFlex="70%">
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Standard Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$395</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Love on</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="black">$206</p>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="50%">
                            <p class="silver">Deal Price</p>
                        </div>
                        <div fxFlex="50%">
                            <p class="pink-text">$330</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="30%"></div>
            </div>
        </div>

        <div fxFlex="10%">
            <div class="discount-off">
                <p>10% Off</p>
            </div>
        </div>

        <div fxFlex="20%" class="text-center">
            <div class="edit-close">
                <a class="edit">
                    <img src="../../../../../../assets/img/writing-public.png">
                </a>
                <a>
                    <span class="icon-baseline-close-24px-12"></span>
                </a>
            </div>
        </div>
    </div>
</div>