<div class="desktop-service-list">

    <div class="links border-bottom py-3">
        <div class="container">
            <div fxLayout="row">
                <span class="mr-2">Booking ></span>
                <span class="mr-2">Hair Saloon ></span>
                <span class="mr-2">Fashionable haircut ></span>
                <span class="mr-2 pink-text">Service List</span>
            </div>
        </div>
    </div>

    <div class="book-visit">
        <div class="container py-5">
            <div class="heading-bar">
                <h3 class="heading">Good eyebrows & healthy nails INC</h3>
            </div>
            <div class="book-appointment">
                <!-- for woman  -->
                <div fxLayout="row" class="pt-5">
                    <p class="heading">For Woman (2) <span class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span></p>
                </div>
    
                <div class="booking-fields p-3 mt-4">
                    <div fxLayout="row" class="pb-3">
                        <div fxFlex="64%" class="heading">
                            <h6 class="pb-2">Acrylic Full Set Pearl/ French Extention Tips</h6>
                            <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating> <span class="star-text pl-3">2 Book Ratings</span>
                        </div>
                        <div fxFlex="16%" class="time-price border-left px-4">
                            <p class="wrapper">
                                <span class="time">30min</span>
                                <span class="text float-right">$109</span>
                            </p>
                        </div>
                        <div fxFlex="20%" class="book-btn border-left pl-5">
                            <a mat-button class="rounded-bt pink-b px-5">Book Now</a>
                        </div>
                    </div>
                    <div class="details border-top pt-3">
                        <p class="pb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                        <a mat-button class="pink-text">Read Less</a>
                    </div>
                </div>
    
                <div class="booking-fields p-3 mt-4">
                    <div fxLayout="row" class="pb-3">
                        <div fxFlex="64%" class="heading">
                            <h6 class="pb-2">Braids Veelz</h6>
                            <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating> <span class="star-text pl-3">2 Book Ratings</span>
                        </div>
                        <div fxFlex="16%" class="time-price border-left px-4">
                            <p class="wrapper">
                                <span class="time">30min</span>
                                <span class="text float-right">$109</span>
                            </p>
                        </div>
                        <div fxFlex="20%" class="book-btn border-left pl-5">
                            <a mat-button class="rounded-bt pink-b px-5">Book Now</a>
                        </div>
                    </div>
                    <div class="details border-top pt-3">
                        <p class="pb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                        <a mat-button class="pink-text">Read Less</a>
                    </div>
                </div>
    
                <!-- for gents  -->
                <div fxLayout="row" class="mt-5">
                    <p class="heading">Man Style (4) <span class="icon-baseline-keyboard_arrow_down-24px-1 ml-3"></span></p>
                </div>
    
                <div class="booking-fields p-3 mt-4">
                    <div fxLayout="row" class="pb-3">
                        <div fxFlex="64%" class="heading">
                            <h6 class="pb-2">Head Stylish</h6>
                            <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating> <span class="star-text pl-3">2 Book Ratings</span>
                        </div>
                        <div fxFlex="16%" class="time-price border-left px-4">
                            <p class="wrapper">
                                <span class="time">30min</span>
                                <span class="text float-right">$109</span>
                            </p>
                        </div>
                        <div fxFlex="20%" class="book-btn border-left pl-5">
                            <a mat-button class="rounded-bt pink-b px-5">Book Now</a>
                        </div>
                    </div>
    
                    <div class="details border-top pt-3">
                        <p class="pb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                        <a mat-button class="pink-text">Read Less</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="similar-this border-top">
        <div class="container py-5">
            <div fxLayout="row" class="heading-bar">
                <h3 class="heading">Similat to This</h3>
            </div>

            <div fxLayout="row" class="similar-services pt-5">
                <div fxFlex="" class="mr-3">
                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1 justify-content-center">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="" class="mr-3">
                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1 justify-content-center">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="" class="mr-3">
                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1 justify-content-center">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="" class="mr-3">
                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1 justify-content-center">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="" class="mr-3">
                    <div class="card border">
                        <div class="card-body p-0">
                            <img class="main-img" src="../../../assets/img/SVG-hp/polish.png">
                            <h5 class="border-bottom text-center p-2">Leather feltcase for 9,7' tablet</h5>
                            <div class="rating border-bottom p-1 justify-content-center">
                                <app-star-rating [maxScore]="5" [score]="4" [forDisplay]="true"></app-star-rating><span class="star-text">2 Book Ratings</span>
                            </div>
                            <div class="location p-3 text-center">
                                <h4>Austria, Vienna</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>