<app-old-layout-header></app-old-layout-header>


<div class="grid">
    
    <div class="left-side">
        <app-desktop-about-sidebar></app-desktop-about-sidebar>
    </div>
    
    <div class="right-side">

        <!-- <div class="top-img">
            <img class="corner-t" src="assets/img/dots.svg">
            <img class="corner-b" src="assets/img/dots.svg">
        </div> -->
        <div class="main">
            <div class="container py-5">
                <div fxLayout="row" class="justify-content-center">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>