<section class="pricing py-2">
  <div class="container">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      class="row align-items-center justify-content-between toggle_bar"
    >
      <span class="p-2 nickname">
        <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
      </span>
      <span
        fxLayout="row"
        fxLayoutAlign="center"
        class="month_year_toggle d-flex"
      >
        <h3 class="p-2">Monthly</h3>
        <div class="switch">
          <mat-slide-toggle (change)="showYearly($event)"></mat-slide-toggle>
        </div>
        <h3 class="p-2">Yearly</h3>
      </span>
    </div>

    <div fxLayout="row" class="row align-items-center toggle_bar">
      <span class="p-2 nickname">
        <h3>Coupon Code:</h3>
      </span>
      <form fxLayout="row" [formGroup]="couponForm" (ngSubmit)="submit()">
        <mat-form-field class="form-section">
          <input formControlName="coupon_code" matInput type="text" />
        </mat-form-field>
        <button
          style="height: 45px; width: 100px;"
          type="submit"
          class="pink-b rounded-bt btn-block mat-button mat-button-base p-1 ml-2"
        >
          Apply
        </button>
      </form>
    </div>

    <div id="slider-plans">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="config"
      >
        <!-- Private Tier -->
        <div ngxSlickItem fxFlex="25%" class="mx-4">
          <div class="card mb-5 mb-lg-0 private">
            <div class="top-border-gradient"></div>

            <div class="card-body px-3">
              <div fxLayout="row" class="border-bottom py-2">
                <div fxFlex="66.6%">
                  <h5 class="card-title">
                    {{ subscriptionPlanData[0].name }}
                  </h5>
                </div>
                <div fxFlex="33.3">
                  <h6 class="card-price text-right py-1">
                    {{
                      (isYearly
                        ? subscriptionPlanData[0].pay_yearly
                        : subscriptionPlanData[0].pay_monthly
                      ) | currency: "CHF":"symbol":"1.0"
                    }}
                  </h6>
                </div>
              </div>
              <ul class="fa-ul py-4">
                <li *ngIf="subscriptionPlanData[0].multiaccount">
                  Multiaccount Option
                </li>
                <li>Pay Monthly Fees</li>
                <li>Membership Status</li>
                <li>Memberships: Rewards</li>
                <li class="pl-2">
                  {{ subscriptionPlanData[0].coupons }} Coupons
                </li>
                <li class="pl-2">
                  {{ subscriptionPlanData[0].points }} Points
                </li>
                <li class="pl-2">
                  {{ subscriptionPlanData[0].product_selling }} Free Product
                  Sellings
                </li>
              </ul>
              <a (click)="nextStep2(0)" class="btn btn-block private"
                >Choose {{ subscriptionPlanData[0].name }}</a
              >
            </div>
          </div>
        </div>
        <!-- Private Plus Tier -->
        <div ngxSlickItem fxFlex="25%" class="mx-4">
          <div class="card mb-5 mb-lg-0 private-plus">
            <div class="top-border-gradient"></div>

            <div class="card-body px-3">
              <div fxLayout="row" class="border-bottom py-2">
                <div fxFlex="66.6%">
                  <h5 class="card-title">
                    {{ subscriptionPlanData[1].name }}
                  </h5>
                </div>
                <div fxFlex="33.3">
                  <h6 class="card-price text-right py-1">
                    {{
                      (isYearly
                        ? subscriptionPlanData[1].pay_yearly
                        : subscriptionPlanData[1].pay_monthly
                      ) | currency: "CHF":"symbol":"1.0"
                    }}
                  </h6>
                </div>
              </div>
              <ul class="fa-ul py-4">
                <li *ngIf="subscriptionPlanData[1].multiaccount">
                  Multiaccount Option
                </li>
                <li>>Pay Monthly Fees</li>
                <li>>Memberships Status</li>
                <li>Memberships:Rewards</li>
                <li>{{ subscriptionPlanData[1].coupons }} Coupons</li>
                <li>{{ subscriptionPlanData[1].points }} Points</li>
                <li>
                  {{ subscriptionPlanData[1].product_selling }} Free Product
                  Sellings
                </li>
                <li *ngIf="subscriptionPlanData[1].create_booking">
                  Create Bookings
                </li>
                <li *ngIf="subscriptionPlanData[1].create_coupons">
                  Create Coupons
                </li>
                <li>{{ subscriptionPlanData[1].discounts }}% of Marketing</li>
              </ul>
              <a class="btn btn-block private-plus" (click)="nextStep2(1)">
                Choose {{ subscriptionPlanData[1].name }}</a
              >
            </div>
          </div>
        </div>
        <!-- Commercial Tier -->
        <div ngxSlickItem fxFlex="25%" class="mx-4">
          <div class="card mb-5 mb-lg-0 commercial">
            <div class="top-border-gradient"></div>

            <div class="card-body px-3">
              <div fxLayout="row" class="border-bottom py-2">
                <div fxFlex="66.6%">
                  <h5 class="card-title">{{ subscriptionPlanData[2].name }}</h5>
                </div>
                <div fxFlex="33.3">
                  <h6 class="card-price text-right py-1">
                    {{
                      (isYearly
                        ? subscriptionPlanData[2].pay_yearly
                        : subscriptionPlanData[2].pay_monthly
                      ) | currency: "CHF":"symbol":"1.0"
                    }}
                  </h6>
                </div>
              </div>
              <ul class="fa-ul py-4">
                <li *ngIf="subscriptionPlanData[2].multiaccount">
                  Multiaccount Option
                </li>
                <li>Pay Monthly Fees</li>
                <li>Memberships Status</li>
                <li>Memberships:Rewards</li>
                <li>{{ subscriptionPlanData[2].coupons }} Coupons</li>
                <li>{{ subscriptionPlanData[2].points }} Points</li>
                <li>
                  {{ subscriptionPlanData[2].product_selling }} Free Product
                  Sellings
                </li>
                <li>Create Bookings</li>
              </ul>
              <a class="btn btn-block commercial" (click)="nextStep2(2)"
                >Choose {{ subscriptionPlanData[2].name }}</a
              >
            </div>
          </div>
        </div>
        <!-- Startup Tier -->
        <div ngxSlickItem fxFlex="25%" class="mx-4">
          <div class="card mb-5 mb-lg-0 startup">
            <div class="top-border-gradient"></div>

            <div class="card-body px-3">
              <div fxLayout="row" class="py-2">
                <div fxFlex="66.6%">
                  <h5 class="card-title">{{ subscriptionPlanData[3].name }}</h5>
                </div>
                <div fxFlex="33.3">
                  <h6 class="card-price text-right py-1">
                    {{
                      (isYearly
                        ? subscriptionPlanData[3].pay_yearly
                        : subscriptionPlanData[3].pay_monthly
                      ) | currency: "CHF":"symbol":"1.0"
                    }}
                  </h6>
                </div>
              </div>
              <div
                fxLayout="row"
                class="border-bottom text justify-content-center pb-2"
              >
                <p class="text-muted small-text text-left">
                  Company is not older than 15 months
                </p>
              </div>
              <ul class="fa-ul py-4">
                <li *ngIf="subscriptionPlanData[3].multiaccount">
                  Multiaccount Option
                </li>
                <li>Pay Monthly Fees</li>
                <li>Memberships Status</li>
                <li>Memberships:Rewards</li>
                <li>{{ subscriptionPlanData[3].coupons }} Coupons</li>
                <li>{{ subscriptionPlanData[3].points }} Points</li>
                <li>
                  {{ subscriptionPlanData[3].product_selling }} Free Product
                  Sellings
                </li>
                <li *ngIf="subscriptionPlanData[3].create_coupons">
                  Create Coupons
                </li>
                <li>
                  {{ subscriptionPlanData[3].discounts }}% Marketing Fees
                  Discount
                </li>
              </ul>
              <a class="btn btn-block startup" (click)="nextStep2(3)"
                >Choose {{ subscriptionPlanData[3].name }}</a
              >
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
